.gblock {
  padding: 10px;
}

.pad {
  padding: 10px;
  margin: 5px;
  margin-left: 10px;
  position: fixed;
  justify-content: center;
}

.search-bar {
  border: 0px;
  background: #32465a;
  color: #fff;
  width: 80%;
  float: left;
  border-bottom: 1px solid #f2f2f2;
  display: inline-block;
  line-height: 1.8em;
  height: 30px;
  padding-left: 10px;
}

.img-blk {
  width: 60px;
  height: 60px;
  border-radius: 50%;

}

.img-blk-mb {
  width: 50px;
  height: 50px;
  border-radius: 50%;

}

.img-blk-left {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 2.8em;
  margin: 10px;
  float: left;

}

.input-group-addon {
  height: 30px;
  background: #32465a;
  border: 0px;
  color: #fff;
  float: left;
  cursor: pointer;
  width: 30px;
  font-size: 25px;
  border-bottom: 1px solid #f2f2f2;
}

.stylish-input-group {
  border: 0px;
  display: inline-block;
  padding-bottom: 10px;
}

.band-gauche {
  background: #2c3e50;
  color: #fff;
}

.nam-user {
  color: #fff;
  text-decoration: none;
}

.menu-nam {
  color: #333;
  text-decoration: none;
  text-align: left;
  padding: 5px;
}

.menu-nam:hover {
  color: #333;
  text-decoration: none;
  background: #f2f2f2;
}

.menu-nam a {
  color: #333;
  text-decoration: none;
}

.message {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 50%;
  font-size: 13px;
}

.bl-message {
  border-bottom: 1px solid #ddd;
  padding: 5px;
  cursor:pointer;
}

//*******************************************************************************************
.input-s {
  width: 43%;
  background: #fff;
  border: 1px solid #f2f2f2;
  border-bottom: 1px solid #333;
  height: 50px;
  left: 0;
}

.received {
  background: #ddd;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  max-width: 350px;
}

.sender {
  background: lightblue;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  max-width: 350px;
}

.click-left:hover {
  cursor: pointer;
}

.click-right:hover {
  cursor: pointer;
}
.naming-txt{
  width:80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.gauche-h{
  width: 30%;
  float:left;
}

.droite-h{
  width: 70%;
  float:left;
}

.b_m{
  width:100% !important;
  height:100%;
}
@media (max-width: 1150px) {

.droite-h{
  display:none !important;
}
  .gauche-h{
    width:100% !important;
    position:relative !important;
    height:100% !important;
    overflow: hidden !important;
  }

  .b_m {
    width:100% !important;
    height:auto !important;
    overflow: hidden !important;

  }

  .pad {
    position: relative !important;
    height:100% !important;
    margin:0px !important;
    padding:0px !important;
    width:100% !important;
    dispay:flex;
    justify-content: center !important;
  }
}
