
<div class="popup-box chat-popup popup-box-max" id="qnimate">
    		  <div class="popup-head " style="background: -webkit-linear-gradient(left, #ff6d05, #00c6ff); background: linear-gradient(left, #ff6d05, #00c6ff); color:#fff !important;">
				<div class="popup-head-left pull-left" *ngIf="chatact?.checkchange === false" style="color:#fff; border-color:#fefefe;"> 
				
				<div [ngStyle]="{'background-image': 'url(' + chatact?.photo + ')'}" *ngIf="chatact?.photo !== null && chatact?.photo !== ''" class="img-r"></div>
				<div [ngStyle]="{'background-image': 'url(assets/photo/avatar.jpg)'}" *ngIf="chatact?.photo === null || chatact?.photo === '' " class="img-r"></div>
				
					<div class="break" style="line-height:2.5em;" title="">&nbsp; &nbsp; {{chatact?.nom}}</div>
					
				</div>
				
				
				<div class="popup-head-left pull-left" *ngIf="chatact?.checkchange === true" style="color:#fff; border-color:#fefefe;"> 

					<div class="break" style="line-height:2.5em;" title="">WegetPro Chat live</div>
					
				</div>
					  <div class="popup-head-right pull-right">
						<!-- <div class="btn-group"> -->
    								  <!-- <button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false"> -->
									   <!-- <i class="fa fa-cog"></i> </button> -->
									  <!-- <ul role="menu" class="dropdown-menu pull-right"> -->
										<!-- <li><a href="#">rechercher</a></li> -->
										<!-- <li><a href="#">vider message</a></li> -->
									  <!-- </ul> -->
						<!-- </div> -->
						
					  <button data-widget="remove" id="" class="chat-header-button pull-right" type="button" (click)="desactivatechat()"><i class="fa fa-remove"></i></button>
					  
					  <button data-widget="" id="" class="chat-header-button pull-right" *ngIf="chatact?.miximaze === true" type="button" (click)="maximin()"><i class="fa fa-window-minimize"></i></button>
					  
					  <button data-widget="" id="" class="chat-header-button pull-right" *ngIf="chatact?.miximaze === false" type="button" (click)="maximin()"><i class="fa fa-window-maximize"></i></button>
					  
					  <button data-widget="remove" id="" class="chat-header-button" type="button" *ngIf="chatact?.checkchange === false" (click)="change();"><i class="fa fa-ellipsis-h"></i></button>
					  
					  <button data-widget="" id="" class="chat-header-button" type="button" (click)="search()" *ngIf="ifactivechat() === true && chatact?.checkchange === true"><i class="fa fa-search"></i></button>
					  
                      </div>
			  </div>
			<div class="popup-messages">
    		
			<div class="search" *ngIf="ifactivechat() === true" style="background:#fefefe; z-index:99999999999;  width:100%; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); display:none;">
				
				<form class="example-form">
				  <mat-form-field class="example-full-width">
					<input matInput placeholder="Rechercher un membre ici" style="border-bottom-color: transparent !important;" name="cherch" value="" [(ngModel)]="userFilter.nomComplet">
				  </mat-form-field>
				</form>
			</div>
			
			<div class="direct-chat-messages text-center" *ngIf="ifactivechat() === true && chatact?.checkchange === false && chatact?.id !== null && messageAll.length == 0 && cnpt == 0"><p>Chargement des Meta Data en cours...</p></div>
			
			<div class="direct-chat-messages text-center" style="" *ngIf="ifactivechat() === true && chatact?.checkchange === false && chatact?.id !== null && messageAll.length == 0 && cnpt == 2"><p>Auncun message trouvé dans cette discussion...</p></div>
			
			<div class="direct-chat-messages" *ngIf="ifactivechat() === true && chatact?.checkchange === false && chatact?.id !== null && messageAll.length != 0 && cnpt == 1">
			
				<div  *ngFor="let val of messageAll; index as i">
                    
					
					<!-- <div class="chat-box-single-line"> -->
					<!-- {{val.Date_s}} -->
					<!-- </div> -->
					
					
					<!-- Message. Default to the left -->
                    <div class="row direct-chat-msg pull-right" *ngIf="val?.codeSender == chatact?.InfoMe.id">
                      <div class="direct-chat-info col-sm-12">
                        <span class="direct-chat-name pull-right">Vous 
						</span>
						
						&nbsp;

						<div class="dropdown pull-right" style="">
							<i class="fa fa-trash option"  id="dropdownMenuButton" style="line-height: 2em; margin-right: 12px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
					  <div class="dropdown-menu coll" aria-labelledby="dropdownMenuButton" style="background:#000;">
						<a class="dropdown-item" href="#" style="color:#fff; background:#333;" (click)="delmsg(dataidmsg[i]); false;">Supprimer</a>
					  </div>
					</div>	
							
					&nbsp;	
						
						
						
						
                      </div>
                      <!-- /.direct-chat-info -->
					<div class="col-sm-12">
					<div class="" style="width:auto; float:right;">
				<div [ngStyle]="{'background-image': 'url(' + chatact?.InfoMe.pathPhoto + ')'}" *ngIf="chatact?.InfoMe.pathPhoto !== null && chatact?.InfoMe.pathPhoto !== ''" class="img-rs"></div>
				<div [ngStyle]="{'background-image': 'url(assets/photo/avatar.jpg)'}" *ngIf="chatact?.InfoMe.pathPhoto === null || chatact?.InfoMe.pathPhoto === '' " class="img-rs"></div>					  
					  
					  <!-- /.direct-chat-img -->
					  
					  
                      <div class="direct-chat-text" style="display:table; background:#ddd; z-index:-1;">
                        {{val?.message}}
                      </div>
                      </div>
                      </div>
					  <div class="direct-chat-info  col-sm-12">
							<i class="fa fa-check pull-right" style="color:#ddd; font-size:8px;" *ngIf="val?.status === 0"></i>
							<i class="fa fa-check-circle pull-right" style="color:green; font-size:8px;" *ngIf="val?.status === 1"></i>
							<span class="direct-chat-timestamp pull-right">{{val?.Date_s}}</span>&nbsp;
                      </div>
                      <!-- /.direct-chat-text -->
                    </div>
                    <!-- /.direct-chat-msg -->
				     
					<div class="col-sm-12 direct-chat-msg pull-left" style="" *ngIf="val?.codeSender != chatact?.InfoMe.id">
                      <div class="direct-chat-info ">
                        <span class="direct-chat-name">{{chatact?.nom}} 
						</span>
							
						&nbsp;

						<div class="dropdown" style="float:left;">
							<i class="fa fa-trash option"  id="dropdownMenuButton" style="line-height: 2em; margin-right: 12px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
					  <div class="dropdown-menu coll" aria-labelledby="dropdownMenuButton" style="background:#000;">
						<a class="dropdown-item" href="#" style="color:#fff; background:#333;" (click)="delmsgReverse(dataidmsg[i]); false;">Supprimer</a>
					  </div>
					</div>	
							
					&nbsp;		
						
						
						
                      </div>
					  
				<div [ngStyle]="{'background-image': 'url(' + chatact?.photo + ')'}" *ngIf="chatact?.photo !== null && chatact?.photo !== ''" class="img-r"></div>
				<div [ngStyle]="{'background-image': 'url(assets/photo/avatar.jpg)'}" *ngIf="chatact?.photo === null || chatact?.photo === '' " class="img-r"></div>
				
				
                      <div class="direct-chat-text-right pull-left" style=" z-index:-1;">
                        {{val?.message}}
                      </div>
					  
					  
							<div class="direct-chat-info col-sm-12 row pull-left" style="">
							<span class="direct-chat-timestamp">{{val?.Date_s}}</span>
							</div>					  
	
                      <!-- /.direct-chat-text -->
					  
                    </div>
					
                 </div>
				 

            </div>
				  
				  <div class="direct-chat-messages" style="" *ngIf="ifactivechat() && chatact?.checkchange === true">


			
			
				  
					<div  *ngFor="let pers of memebreall | filterBy: userFilter; index as i;" >
						<div *ngIf="pers?.id != chatact?.InfoMe.id" class="" style="border-bottom: 1px solid #ddd; width:100%; height:60px; padding:4px; overflow:hidden; cursor:pointer" (click)="changeval(pers?.pathPhoto, pers?.nomComplet, pers?.id);">
							 <div [ngStyle]="{'background-image': 'url(' + pers?.pathPhoto + ')'}" *ngIf="pers?.pathPhoto !== null && pers?.pathPhoto !== ''" class="img-r"></div>
				<div [ngStyle]="{'background-image': 'url(assets/photo/avatar.jpg)'}" *ngIf="pers?.pathPhoto === null || pers?.pathPhoto === '' " class="img-r"></div>

					<div class="" style="width:auto; margin-left:5px;">
									<div style="line-height:2.5em;">
									<div style="max-width:125px; float:left; text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">{{pers?.nomComplet}}</div>
									<span class="badge badge-info" *ngIf="compteurMsg[pers?.id] > 0 ">{{compteurMsg[pers?.id]}}</span>
									<div class="fa fa-circle pull-right" style="color:green; line-height:2.5em;">&nbsp;
									<a href="." (click)="false;" style="color:#ccc; font-size:10px;">il y 2min {{i}}</a>
									
									</div>
										
									</div>

					</div>
					
					</div>
					</div>
					
					
					<div class="" style="border-bottom: 1px solid #ddd; width:100%; height:60px; padding:4px; overflow:hidden; cursor:pointer; text-align:center;"  *ngIf="(memebreall | filterBy: userFilter).length === 0">

					<p>Aucun élément trouvé ! </p> 	
				
					</div>	
			
			</div>
			
			<div class="direct-chat-messages" style="display:flex; justify-content:center; align-items:center" *ngIf="!ifactivechat();">
					<div class="col-sm-12 text-center">
						<h3> Bienvenue sur le chat instantané de WEGET</h3>
					<div style="background:#ff6d05;"> <img src="assets/photo/logo-h.png" style="width:50%;" /> </div>
					
					<div class="col-sm-12">
					<div class="button-row" style="margin:10px;">
					  <button mat-raised-button color="primary" class="btno" (click)="connexion()">Connexion</button>
					  <button mat-raised-button color="warn" class="btno" (click)="inscription()">Inscription</button>
					</div>	
					</div>
					</div>
					
			</div>
				  

			<div class="popup-messages-footer" *ngIf="chatact.checkchange === false && ifactivechat()">	
				 	<div class="col-sm-12 direct-chat-name text-center" style="position:absolute; top:-17px;" *ngIf="socket === 1">
						<p style=" border-radius:10px; border:1px solid #f2f2f2; color:#09c;">{{chatact?.nom}}  est entrain d'ecrire...</p>
                    </div>
			<textarea id="status_message" placeholder="Type a message..."  rows="10" cols="40" name="message_ss" [(ngModel)]="message_ss" (keyup)="enterSend($event); keyupchange(message_ss);"  [disabled]="!ifactivechat()" ></textarea>
			<div class="btn-footer">
			<button class="bg_none" (click)="choseFilevideo()" ><i class="fa fa-film"></i> </button>
			<button class="bg_none" (click)="choseFilephoto()" ><i class="fa fa-camera"></i> </button>
            <button class="bg_none" (click)="choseFile()" ><i class="fa fa-paperclip"></i> </button>
            <button class="bg_none" (click)="choseFileAudio()" ><i class="fa fa-microphone"></i> </button>
			<button class="bg_none pull-right"  ><i class="fa fa-thumbs-up"></i> </button>
			</div>
			</div>
	  </div>