
<div class="popup-box chat-popup " id="qnimate">
    		  <div class="popup-head">
				<div class="popup-head-left pull-left" style="color:#fff; border-color:#fefefe;"><img src="" alt="D"> Djouekan</div>
					  <div class="popup-head-right pull-right">
						<div class="btn-group">
    								  <button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">
									   <i class="fa fa-cog"></i> </button>
									  <ul role="menu" class="dropdown-menu pull-right">
										<li><a href="#">rechercher</a></li>
										<li><a href="#">vider message</a></li>
									  </ul>
						</div>
						
					  <button data-widget="remove" id="" class="chat-header-button pull-right" type="button" (click)="desactivatechat()"><i class="fa fa-remove"></i></button>
					  
					  <button data-widget="remove" id="" class="chat-header-button" type="button" (click)="desactivatechat()"><i class="fa fa-window-minimize"></i></button>
					  
                      </div>
			  </div>
			<div class="popup-messages" >
    		
			
			
			
			<div class="direct-chat-messages" *ngIf="ifactivechat() === true">
                    
					
					<div class="chat-box-single-line">
								<abbr class="timestamp">28 septembre 2018</abbr>
					</div>
					
					
					<!-- Message. Default to the left -->
                    <div class="direct-chat-msg">
                      <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Djoue</span>
                      </div>
                      <!-- /.direct-chat-info -->
                      <img alt="image" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="direct-chat-img"><!-- /.direct-chat-img -->
                      <div class="direct-chat-text">
                        loremp ipsum
                      </div>
					  <div class="direct-chat-info clearfix">
                        <span class="direct-chat-timestamp pull-right">3.36 PM</span>
                      </div>
                      <!-- /.direct-chat-text -->
                    </div>
                    <!-- /.direct-chat-msg -->
					
						
					
					
					<!-- Message. Default to the left -->
                    <div class="direct-chat-msg ">
                      <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">autre</span>
                      </div>
                      <!-- /.direct-chat-info -->
                      <img alt="iamgurdeeposahan" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="direct-chat-img big-round"><!-- /.direct-chat-img -->
                      <div class="direct-chat-text">
                       lorem ipsum dolor questy para nuero
                      </div>
					  <div class="direct-chat-info clearfix">
                        <span class="direct-chat-timestamp pull-right">3.36 PM</span>
                      </div>
                      <!-- /.direct-chat-text -->
                    </div>
                    <!-- /.direct-chat-msg -->
					
					
                    

                    

                  </div>
				  
				  <div class="direct-chat-messages" style="display:flex;" *ngIf="ifactivechat() === false">
					<div> WegetPro chat</div>
				  </div>
			
			
			
			
			
			
			
			
			
			</div>
			<div class="popup-messages-footer">
			<textarea id="status_message" placeholder="Type a message..." [disabled]="ifactivechat() === false? 'disabled' : '' " rows="10" cols="40" name="message"></textarea>
			<div class="btn-footer">
			<button class="bg_none" [disabled]="ifactivechat() === false? 'disabled' : '' "><i class="fa fa-film"></i> </button>
			<button class="bg_none" [disabled]="ifactivechat() === false? 'disabled' : '' "><i class="fa fa-camera"></i> </button>
            <button class="bg_none" [disabled]="ifactivechat() === false? 'disabled' : '' "><i class="fa fa-paperclip"></i> </button>
			<button class="bg_none pull-right" [disabled]="ifactivechat() === false? 'disabled' : '' "><i class="fa fa-thumbs-up"></i> </button>
			</div>
			</div>
	  </div>