
.popup-box {
   background-color: #ffffff;
    border: 1px solid #b0b0b0;
    bottom: 0;
    display: none;
    position: fixed;
    width: 350px;
    font-family: 'Open Sans', sans-serif;
	z-index:999;
	transition:0.5s;
}

.popup-box-max {
    height: 100%;
    right: 0;
	top:0;
}

.popup-box-min {
    height: 400px;
    right: 37px;
	width: 325px !important;
}

.round.hollow {
    margin: 40px 0 0;
}
.round.hollow a {
    border: 2px solid #ff6701;
    border-radius: 35px;
    color: red;
    color: #ff6701;
    font-size: 23px;
    padding: 10px 21px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.round.hollow a:hover {
    border: 2px solid #000;
    border-radius: 35px;
    color: red;
    color: #000;
    font-size: 23px;
    padding: 10px 21px;
    text-decoration: none;
}
.popup-box-on {
    display: block !important;
}
.popup-box .popup-head {
    background-color:#fff /*#3f51b5*/;
    clear: both;
    color: #aaa;
    display: inline-table;
    font-size: 21px;
    padding: 7px 10px;
    width: 100%;
     font-family: Oswald;
	 height:50px;
	 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
	 z-index:123456;
}
.bg_none i {
    border: 1px solid #ff6701;
    border-radius: 25px;
    color: #ff6701;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none:hover i {
    border: 1px solid #000;
    border-radius: 25px;
    color: #000;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
	outline:none;
}
.popup-box .popup-head .popup-head-right {

}
.popup-box .popup-messages {
overflow:hidden;
}
.popup-head-left img {
    border: 1px solid #7b7b7b;
    border-radius: 50%;
    width: 44px;
	
}
.popup-messages-footer > textarea {
    border-bottom: 1px solid #b2b2b2 !important;
    height: 34px !important;
    margin: 7px;
    padding: 5px !important;
     border: medium none;
    width: 95% !important;
}
.popup-messages-footer {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.popup-messages-footer .btn-footer {
    overflow: hidden;
    padding: 2px 5px 10px 6px;
    width: 100%;
}
.simple_round {
    background: #d1d1d1 none repeat scroll 0 0;
    border-radius: 50%;
    color: #4b4b4b !important;
    height: 21px;
    padding: 0 0 0 1px;
    width: 21px;
}





.popup-box .popup-messages {
    background: #fefefe none repeat scroll 0 0;
    height: -moz-calc(100% - 150px);
    height: -webkit-calc(100% - 150px);
    height: calc(100% - 150px);
    overflow: hidden;
}
.direct-chat-messages {
    overflow-x: hidden;
    padding: 10px;
    transform: translate(0px, 0px);
	height: -moz-calc(95% - 150px);
    height: -webkit-calc(95% - 150px);
    height: calc(95% - 150px);
}
.popup-messages .chat-box-single-line {
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
	color:#bbb;
}
.popup-messages abbr.timestamp {
    background: #3f9684 none repeat scroll 0 0;
    color: #ccc;
    padding: 0 11px;
}

.popup-head-right .btn-group {
    display: inline-flex;
	margin: 0 8px 0 0;
	vertical-align: top !important;
}
.chat-header-button {
    background: transparent none repeat scroll 0 0;
    border: 0px;
    font-size: 20px;
    height: 30px;
    width: 30px;
	color:#fff;
	cursor:pointer;
	margin:5px;
}
.popup-head-right .btn-group .dropdown-menu {
    border: medium none;
    min-width: 122px;
	padding: 0;
}
.popup-head-right .btn-group .dropdown-menu li a {
    font-size: 12px;
    padding: 3px 10px;
	color: #303030;
}

.popup-messages abbr.timestamp {
    background: #fff  none repeat scroll 0 0;
    color: #ccc;
    padding: 0 11px;
}
.popup-messages .chat-box-single-line {
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
	color:#bbb;
}
.popup-messages .direct-chat-messages {
    height: 95%;
}
.popup-messages .direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #1f2121;
	word-break: break-all;
	max-width: 210px !important;
}

.popup-messages .direct-chat-text-right {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #1f2121;
	word-break: break-all;
	max-width: 210px !important;
}

.popup-messages .direct-chat-timestamp {
    color: #333;
    opacity: 0.6;
}

.popup-messages .direct-chat-name {
	font-size: 15px;
	font-weight: 600;
	color: #aaa;
	opacity: 0.9;
}
.popup-messages .direct-chat-info {
    display: block;
    font-size: 10px;
    margin-bottom: 0;
}
.popup-messages  .big-round {
    margin: -9px 0 0 !important;
}
.popup-messages  .direct-chat-img {
    border: 1px solid #fff;
	background: #3f9684  none repeat scroll 0 0;
    border-radius: 50%;
    float: left;
    height: 40px;
    margin: -21px 0 0;
    width: 40px;
}
.direct-chat-reply-name {
    color: #fff;
    font-size: 15px;
    margin: 0 0 0 10px;
    opacity: 0.9;
}

.direct-chat-img-reply-small
{
    border: 1px solid #fff;
    border-radius: 50%;
    float: left;
    height: 20px;
    margin: 0 8px;
    width: 20px;
	background:#3f9684;
}

.popup-messages .direct-chat-msg {
    margin-bottom: 10px;
    position: relative;
}


.popup-messages .direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 20px;
    color: #1f2121;
	word-break: break-all;
	max-width: 210px !important;
}

.popup-messages .direct-chat-text-right {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 20px;
    color: #1f2121;
	margin-top: 8px;
	word-break: break-all;
	max-width: 210px !important;
}
.direct-chat-text {
    background: #d2d6de none repeat scroll 0 0;
    border: 1px solid #d2d6de;
    border-radius: 5px;
    color: #444;
    margin: 5px 0 0 50px;
    padding: 5px 10px;
    position: relative;
	word-break: break-all;
	max-width: 210px !important;
}

.direct-chat-text-right {
    background: #d2d6de none repeat scroll 0 0;
    border: 1px solid #d2d6de;
    border-radius: 5px;
    color: #444;
    padding: 5px 10px;
    position: relative;
	word-break: break-all;
	max-width: 210px !important;
}


@media only screen and (max-width: 380px) {
	.popup-box {
		right: 2px !important;
		left: 2px !important;
		width: 100% !important;
	}
}



.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.img-r{
width:50px;
height:50px;
border-radius:100%;
float:left;
background-size:cover;
border:1px solid #f2f2f2;
background-position:top center;
}

.img-rs{
width:50px;
height:50px;
border-radius:100%;
float:right;
background-size:cover;
border:1px solid #f2f2f2;
background-position:top center;
}
.break{
text-overflow:ellipsis;
width:120px;
white-space: nowrap;
overflow: hidden;
}

.btno{
margin:5px;
}

.option{
color:#ddd; 
cursor:pointer;
display:block;
}

.option:hover{
color:#333;
font-weight:bold;
}

.coll{
background:#000;
}