mat-card{
  padding:0px 0 25px 0px;
  margin: 20px auto;
  overflow: hidden;
  .image-cover {
    position: relative;
    width: 100%;
    height: 200px;
  }
  .titre-block {
    padding-top: 5px;
    display: table;
    align-items: center;
    height: 55px;
    overflow: hidden;
  }
  mat-card-footer, 
  mat-card-content, 
  mat-card-actions {
    margin: 0 !important;
  }
  &:hover {
    .action-block {
      top: 5px;
    }
}
.action-block {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 5px;
    top: -100px;
    transition: 0.1s all ease;
    .tooltipclass {
      font-size: 0.7rem;
    }
    .voir-detail{
      background: #0094ea;
      color: #ffffff;
    }
  }
}
mat-card-content{
  padding: 0px 15px;
  margin-bottom: 50px;
}
mat-card-actions{
  display: flex;
  padding: 0;
  margin: 0;
  .tooltipclass {
      font-size: 0.7rem;
    }
    .reabonne{
      background: #02aa2e;
      color: #ffffff;
    }
    .desabonne{
      background: #EA0600;
      color: #ffffff;
      position: absolute;
      right: -5px;
    }
}