 <mat-dialog-content> 
      <h4 mat-dialog-title >Choisir un espace</h4>
    <hr>
    <form>
        <div class="row">
          <mat-form-field class="col-lg-12">
          	<mat-select placeholder="Choisir le block auquel vous voulez vous abonner" [(ngModel)]="idblock" name="block">
          		<mat-option *ngFor="let blk of blocks" [value]="blk.id">{{blk.libelle}}</mat-option>
          	</mat-select>
          </mat-form-field>
        </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button  color="primary" [mat-dialog-close]="idblock" cdkFocusInitial>Suivant</button>
  </mat-dialog-actions>
