a{
  color: hsla(0, 0%, 20%, 1);
  &:hover{
    text-decoration: none;
    color: hsla(0, 0%, 20%, 1);
  }
}

mat-card{

  margin: 2px;
  padding:0px;
  overflow: hidden;
  .imagebg {
   width: 100%;
    height: 170px;
    
  }
  .titre-block {
    padding-top: 5px;
    display: flex;
    align-items: center;
    font-size: small;
    height: 100px;
    width: 200px;
    flex-direction: ltr;
    overflow: hidden;
  }
  mat-card-footer, 
  mat-card-content, 
  mat-card-actions {
    margin: 0 !important;
  }
  &:hover {
    .action-container {
      top: 5px;
    }
  }
  .action-container {
    display: flex;
    justify-content:space-around;
   
    transition: 0.1s all ease;
    .tooltipclass {
      font-size: 10rem;
    }
    .apercu{
      background: hsla(280, 91%, 46%, 1);
      color: hsla(0, 0%, 100%, 1);
    }
    .update{
      background: hsla(136, 98%, 34%, 1);
      color: hsla(0, 0%, 100%, 1);
    }
    .tarif{
      background: hsla(202, 100%, 46%, 1);
      color: hsla(0, 0%, 100%, 1);
    }
    .image{
      background: hsla(53, 100%, 40%, 1);
      color: hsla(0, 0%, 100%, 1);
    }
    .delete{
      background: hsla(2, 100%, 46%, 1);
      color: hsla(0, 0%, 100%, 1);
    }
  }
}
mat-card-content{
  padding:  15px;
  margin-bottom: 10px;
}
mat-card-actions{
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: ltr;
}
.col-lg-4 .col-12 .col-md-6{
  background: hsla(53, 100%, 40%, 1);
}


.card-container{
      position: relative;
        width: 100%;
        min-height: 100px;
        perspective: 600;
        transition: all 0.5s ease;
}
    .card-image{
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 180px;
    }
    .card{
        position: relative;
        height: 100%;
        width: 100%;
        border: 0;
        display: block;
        border-radius: 1px;
        box-shadow: 0 4px 4px hsla(0, 0%, 62%, 0.5);
    }
    .card-no-flip-zone{
      line-height: 30px;
      height:90px;
      vertical-align: center;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      padding: 8px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .card-flip-zone{
      height: 180px;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
    }
    .card-flip-zone .card-flip{
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      height: 100%;
        width: 100%;
        position: absolute;
        overflow: hidden;
    }
    .card-flip-zone .card-flip.back{
      position: relative;
      background: #fff;
      transform: rotateY(180deg);
      .btn-block{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
    .card-container:hover .card-flip-zone{
      transform: rotateY(180deg);
    }
    .description{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      padding: 8px;
    }
    .card-titre{
      font-size: 0.9em;
      transition: all 0.5s ease;
    }
    .card-container:hover{
      transform: translateY(-3px);
      box-shadow: 0 8px 8px hsla(0, 0%, 62%, 0.5);
      .card-no-flip-zone{
        background: hsla(27, 100%, 50%, 1);
      }
      .card-titre{
        color: hsla(0, 0%, 100%, 1);
      }
    }