<!-- 
<mat-card class="blocks-items rounded-circle">
	<a routerLink="/site/blocks/{{block.id}}" routerLinkActive="active" class="" (click)="onViewBlock()">
    <div class="imagebg" #imagebg></div>
    <mat-card-content>
      <h5 class="titre-block" [innerHtml]="block.libelle"></h5>            
    </mat-card-content>
  </a>
  <mat-card-actions>
    <button mat-raised-button color="primary" class="btn btn-block mat-button" (click)="onSabonner()">S'abonner</button>
  </mat-card-actions>
</mat-card>
 -->
	<!-- <div class="card-container">
	  <div class="card">
	    <div class="side">
	    	<div class="imagebg" #imagebg></div>
	    	<h5 class="titre-block" [innerHtml]="block.libelle"></h5>
	    	<button mat-raised-button color="primary" class="btn btn-block mat-button" (click)="onSabonner()">S'abonner</button>
	    </div>
	    <div class="side back">
	    	<p class="" [innerHtml]="block.libelle"></p>
	    </div>
	  </div>
	</div> -->

	<div class="card-container">
	<div class="card card-flip-zone">
    	<div class="card-flip">
        	<div class="card-image" #imagebg></div>
        </div>
        <div class="card-flip back">
        	<p class="description">lorem ipsum back dolor. lorem ipsum back dolor. lorem ipsum back dolor. lorem ipsum back dolor. lorem ipsum back dolor.</p>
        	<button mat-raised-button color="primary" class="btn btn-block mat-button" (click)="onSabonner()">S'abonner</button>
        </div>
    </div>
    <div class="card card-no-flip-zone">
    	<a routerLink="/site/blocks/{{block.id}}" routerLinkActive="active" class="" (click)="onViewBlock()"><h3 class="card-titre" [innerHtml]="block.libelle"></h3></a>
    </div>
</div>