a{
  color: #333333;
  &:hover{
    text-decoration: none;
    color: #333333;
  }
}

mat-card{

  margin: 2px;
  padding:0px;
  overflow: hidden;
  .imagebg {
    width: 0px;
    height: 5px;
    
  }
  .titre-block {
    padding-top: 5px;
    display: flex;
    align-items: center;
    font-size: small;
    height: 100px;
    width: 200px;
    flex-direction: ltr;
    overflow: hidden;
  }
  mat-card-footer, 
  mat-card-content, 
  mat-card-actions {
    margin: 0 !important;
  }
  &:hover {
    .action-container {
      top: 5px;
    }
  }
  .action-container {
    display: flex;
    justify-content:space-around;
   
    transition: 0.1s all ease;
    .tooltipclass {
      font-size: 10rem;
    }
    .apercu{
      background: #970ae0;
      color: #ffffff;
    }
    .update{
      background: #02aa2e;
      color: #ffffff;
    }
    .tarif{
      background: #0094ea;
      color: #ffffff;
    }
    .image{
      background: #CBB500;
      color: #ffffff;
    }
    .delete{
      background: #EA0600;
      color: #ffffff;
    }
  }
}
mat-card-content{
  padding:  15px;
  margin-bottom: 10px;
}
mat-card-actions{
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: ltr;
}
.col-lg-4 .col-12 .col-md-6{
  background: #CBB500;
}


.flip-flop{
  transition: all 0.5s ease;
  &:hover{
    transform: rotateY(180deg);
  }
  .front{
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(0deg);
  }
  .back{
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
}