<div class="contenaire-1">
  <div class="box-1">
    <h3>BIENVENUE DANS LA GESTION DES BlOCKS</h3>
    <span>Dans cette section vous pouvez ajouter des blocks - supprimer des block ou modifier des blocks</span>

  </div>
  <div class="box-2">
    <mat-card>
      <img  src="assets/photo/03-700x471.jpg">
    </mat-card>
  </div>
  <div class="box-3">
    <button  mat-button color="primary" routerLink="/block/liste">
      GERER LES BLOCKS
    </button>
  </div>
  <div class="box-4">
    <mat-card-content>
      <section class="example-section">

      </section>
    </mat-card-content>

  </div>

</div>
