<header class="page-header" style="position: relative; background-image: url('assets/header-bg3.jpg')">
  <div class="page-title">
    <div class="container">

    </div>
  </div>
</header>
<div class="page-content">
  <div class="container" style="padding: 24px 0;">
    <div class="row">
      <div class="col-md-12 col-lg-9 col-12">
        <div class="container-fluid">
          <div class="panel-search">
            <app-search-abonnes></app-search-abonnes>
          </div>
          <div class="row" *ngIf="typeblock==='ecole'">
            <div *ngFor="let ecole of sousblock" class="col-md-6 col-sm-6 col-12 col-lg-6">
              <app-single-ecole [ecole]="ecole"></app-single-ecole> 
            </div>
          </div>
          <div class="row" *ngIf="typeblock==='competence'">
            <div *ngFor="let abonne of abonnes" class="col-md-6 col-sm-6 col-12 col-lg-4">
              <app-abonne [abonne]="abonne"></app-abonne> 
            </div>
          </div>
          <div></div>
        </div>
      </div>
      <div class="d-none d-lg-block col-lg-3">
        <div style="height: 200px; border: 1px solid black;"></div>
      </div>
    </div>
  </div>
</div>