.page-header{
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 60px 40px 100px 40px;
  background-color: #515a63;
  background-size: cover;
  background-repeat: no-repeat;
  //background-image: url("assets/header-bg3.jpg");
  background-position: 50% 50%;
  height: 265px;
}
.page-content{
  padding-bottom: 24px;
}