
<div class="container col-sm-12">
      <div class="panel panel-default" style="width:100%;">
        <div class="panel-heading"><strong>Charger vos images</strong> <small>WegetPro</small></div>
        <div class="panel-body">

          
 
			<form class="example-form" action="" method="post" enctype="multipart/form-data" id="js-upload-form">
			
			
			<div class="form-inline">
              <div class="form-group">
                <input type="file" name="files[]" (change)="recupimg($event)" id="js-upload-files" class="btn btn-sm btn-primary" style="display:block;" max="10" multiple>
              </div>
              
            </div>
			
			  <mat-form-field class="example-full-width">
				<input matInput placeholder="Titre" value="" name="titre" [(ngModel)]="titre">{{titre}}
			  </mat-form-field>

			  <mat-form-field class="example-full-width">
				<textarea matInput placeholder="Description" name="description" [(ngModel)]="description"></textarea>{{description}}
			  </mat-form-field>
			</form>
          <!-- Drop Zone -->
          <h4>Aperçus des images </h4>
          <div class="upload-drop-zone" id="drop-zone"  (drop)="drop($event)" (dragover)="allowDrop($event)">
			<div *ngFor="let img of ImgVars; index as i" style="position:relative; cursor:pointer;">
			<i class="fa fa-trash trashed" style="position:absolute; float:right; z-index:2;" (click)="RemoveItemTab(img)"></i>
				<img [src]="img" alt="..." class="imgb" >  
			</div>
			<div id="lorded"></div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
	
<div class="col-sm-12 row" style="display:flex; justify-content:right;">
		
			<div class="pull-right">
			<button mat-raised-button color="warn" class="routing" style="margin:8px; padding:5px;" (click)="onNoClick();">Annulé</button>
			<button mat-raised-button color="primary" class="routing" style="margin:8px; padding:5px;"> Uploader</button>
			</div>
	
		
	</div>