<div class="pubhaut">
  <div>
<a href="">
  <app-profil-cover [multiple]="multiple" [multiple_interval]=10000 [height]="'99px'" [flat]="true">
  </app-profil-cover>
</a>
  </div>
  <!--<div class="btn-2">
    <span>
       
    </span>
  </div>
-->
<div>
       <a href=".." target="_blank">
         <img src="assets/images/h2.gif"style="height:102px;width:128px;">
       </a>
      
</div>

  <div>
    <a href=".." target="_blank">
      <img src="assets/images/h3.gif"style="height:102px;width:128px;">
     </a>
  </div>  
  <div>
    <a href=".." target="_blank">
      <img src="assets/images/h4.gif"style="height:102px;width:128px;">
     </a>
  </div>
  <div>
    <a href=".." target="_blank">
      <img src="assets/images/h5.gif"style="height:102px;width:128px;">
     </a>
  </div>
  <div>
    <a href=".." target="_blank">
      <img src="assets/images/h6.gif"style="height:102px;width:128px;">
     </a>
  </div>
  <div>
    <a href=".." target="_blank">
      <img src="assets/images/h7.gif"style="height:102px;width:128px;">
     </a>
  </div>
  <div>
    <a href=".." target="_blank">
      <img src="assets/images/h8.gif"style="height:102px;width:128px;">
     </a>
  </div>

</div>
