<div class="container" style="padding-top: 10px;">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9">
      <div class="panel-search"></div>
      <div class="row">
        <div *ngFor="let abonne of abonnes" class="col-md-4 col-sm-6 col-xs-12">
          <mat-card class="abonnes-items">
            <img mat-card-image src="assets/default.jpg" alt="Image de couverture " class="img-fluid">
            <mat-card-header>
              <a [routerLink]="'/'+abonne.id" routerLinkActive="active"></a>
              <div class="abonne-holder">
                <span class="abonne-exp">5 années d'expérience</span>
                <span class="space-card"></span>
                <span [ngClass]="{'abonne-statut': true,
                                'status-offline': abonne.id_type_satut !=1,
                                'status-online' : abonne.id_type_satut ==1}"
                      title="Discuter avec cet abonné"></span>
              </div>
            </mat-card-header>
            <mat-card-content>
              <div class="abonne-meta">
                <span class="abonne-profil-view"><i class="fa fa-eye"></i>35</span>
                <span class="space-card"></span>
                <span class="abonne-pays"><i class="fa fa-map-marker"></i>{{abonne.pays}} </span>
              </div>
              <div class="abonne-name">{{abonne.nom_complet}}</div>
              <div class="abonne-fonction">Informaticien</div>
              <div class="abonne-langue">Français</div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="warn" class="mat-button">Profile</button>
              <span class="space-card"></span>
              <button mat-button color="primary" class="mat-button">Contacter</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div></div>
    </div>
    <div class="hidden-xs hidden-sm col-md-3"></div>
  </div>
</div>
