.page-header{
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 60px 40px 100px 40px;
  background-color: #515a63;
  background-size: cover;
  background-repeat: no-repeat;
  //background-image: url("assets/header-bg3.jpg");
  background-position: 50% 50%;
  height: 265px;
}
.page-content{
  padding-bottom: 24px;
}
.abonne-holder{
  position: absolute;
  top: 10px;
  padding: 0px 10px;
  width: 100%;
  font-size: small;
  line-height: 24px;
  color: #fff;
}
.space-card{
  flex: 1 1 auto;
}
.abonne-exp{
  position: absolute;
  background: #0721be;
  padding: 0px 5px;

}
.abonne-statut {
  float: right;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  margin-right: 0px;
  text-align: center;
}
.status-offline{
  background-color: red;
}
.status-online{
  background-color: green;
}
.abonne-meta{
  display: inline-block;
  padding:0 10px;
  width: 100%;
  margin-top: -25px;
}
.abonne-profil-view{
  position: absolute;
}
.abonne-pays{
  float: right;
  margin-right: 0
}
.abonne-name,.abonne-fonction,.abonne-langue{
  padding:5px 10px;
}
mat-card{
  padding:25px 0px;
  margin: 20px auto;
}
mat-card-content{
  margin: 0px;
}
mat-card .img-fluid{
  margin-right: 0px;
  float: right;
}
mat-card-actions{
  display: flex;
  padding: 0 20px 10px 25px;
  flex-direction: row;
}
mat-card-content .abonne-name{
  font-size: 18px;
  font-weight: bold;
}
