<app-top-zone [topZone]="top_zone" ></app-top-zone>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
    	<app-cover-profil-admin></app-cover-profil-admin>
		
		<br>
		<br>

    	<mat-tab-group>
		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-gitter"></i>&nbsp;&nbsp;
		      Details
		    </ng-template>
		    Content 1
		  </mat-tab>

		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;
		      Formations
		    </ng-template>
		    Content 2
		  </mat-tab>

		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-trophy"></i>&nbsp;&nbsp;
		      Expériences
		    </ng-template>

		    Content 3
		  </mat-tab>
		  
		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-lock"></i>&nbsp;&nbsp;
		      Authentification
		    </ng-template>

		    Content 3
		  </mat-tab>
		</mat-tab-group>


    </div>
  </div>
</div>