<app-top-zone [topZone]="top_zone" ></app-top-zone>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
    	<app-cover-profil-admin #cover (clickOcur)="handleClick($event)" [membre]="membre$ | async" [cover]="coverModel" ></app-cover-profil-admin>
		
		<br>
		<br>

    	<mat-tab-group>
		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-gitter"></i>&nbsp;&nbsp;
		      Informations personnelles
		    </ng-template>
		    <div class="bien-contenir">
		    	<app-info-perso (imageChanges)="handlImageChange($event)" ></app-info-perso>		    	
		    </div>
		  </mat-tab>

		  <!-- <mat-tab *ngIf="membre.type !== 'ME'">
		    <ng-template mat-tab-label>
		      <i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;
		      Informations professionnelles
		    </ng-template>
		    <div class="bien-contenir">
		    	<app-info-pro></app-info-pro>
		    </div>
		  </mat-tab>

		  <mat-tab *ngIf="membre.type !== 'ME'">
		    <ng-template mat-tab-label>
		      <i class="fa fa-trophy"></i>&nbsp;&nbsp;
		      Réseaux sociaux
		    </ng-template>
		    <div class="bien-contenir">
				<app-social></app-social>
			</div>
		  </mat-tab>
 -->
		  <!-- <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-trophy"></i>&nbsp;&nbsp;
		      CV
		    </ng-template>
		    <div class="bien-contenir">
				<div *ngIf="membre.type === 'ME'">
					<div class="alert alert-warning">						
						<strong>Ooups!</strong> Cette partie est reservée aux abonnées. Veuillez vous abonner afin de bénéficier de ce service en cliquant <a routerLink="/admin/paiement/espace">ici</a>.
					</div>
				</div>
				<app-cv *ngIf="membre.type !== 'ME'"></app-cv>
			</div>
		  </mat-tab> -->
		  
		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-lock"></i>&nbsp;&nbsp;
		      Authentification
		    </ng-template>
		    <div class="bien-contenir">
				<app-auth-compte-admin></app-auth-compte-admin>
			</div>
		  </mat-tab>
		</mat-tab-group>


    </div>
  </div>
</div>