<app-top-zone [topZone]="top_zone" ></app-top-zone>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
    	<app-cover-profil-admin [cover]="coverModel" ></app-cover-profil-admin>
		
		<br>
		<br>

    	<mat-tab-group>
		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-gitter"></i>&nbsp;&nbsp;
		      Details
		    </ng-template>
		    <div class="bien-contenir">
		    	<app-details-compte-admin></app-details-compte-admin>		    	
		    </div>
		  </mat-tab>
<!-- 
		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;
		      Formations
		    </ng-template>
		    <div class="bien-contenir">
		    	<app-formation-compte-admin></app-formation-compte-admin>
		    </div>
		  </mat-tab>

		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-trophy"></i>&nbsp;&nbsp;
		      Expériences
		    </ng-template>
		    <div class="bien-contenir">
				<app-experience-compte-admin></app-experience-compte-admin>
			</div>
		  </mat-tab> -->
		  
		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-lock"></i>&nbsp;&nbsp;
		      Authentification
		    </ng-template>
		    <div class="bien-contenir">
				<app-auth-compte-admin></app-auth-compte-admin>
			</div>
		  </mat-tab>
		</mat-tab-group>


    </div>
  </div>
</div>