<div>
  <mat-sidenav-container class="detail contsidnav">
    <mat-card class="creer-card mar-card" >
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            <mat-list-item><h4>Espace:  <strong>{{block?.libelle }}</strong> </h4></mat-list-item>
          </mat-card-title>
          <mat-card-title>
            <mat-list-item><h4> Specialite : <strong>{{block?.description}}</strong></h4> </mat-list-item>
          </mat-card-title>
          <mat-card-subtitle>
          </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <button mat-mini-fab class="photo-fab" (click)="ajouterPhoto()">
        <mat-icon>add</mat-icon>
      </button>
      <img mat-card-image [src]="block?.pathPhoto || pathNullImage" alt="Photo" class="img-card" >


      <mat-card-content>

      </mat-card-content>
      <mat-card-actions class="butonrow">
        <button mat-raised-button color="primary" (click)="editerBlock()">Editer</button>
        <button mat-raised-button color="warn" (click)="ajouterPhoto()">Photo</button>
        <button mat-raised-button color="accent" (click)="supprimerBloc()">Supprimer</button>
      </mat-card-actions>
    </mat-card>
  </mat-sidenav-container>
</div>
