.photo-cadre {
	display: table;
	position: relative;
	background: #ffffff;
	padding: 5px;
	border-radius: 100%;
	box-shadow: 0 0 5px rgba(0,0,0,0.8);
	.photo {
		position: relative;
		width: 150px;
		height: 150px;
		border-radius: 100%;
	}
}
.photo-actions{
	width: 100%;
	position: relative;
	margin: 20px 0;
	.btn-photo-changer{
		background: var(--green);
		color: var(--white);
	}
	.btn-photo-fermer{
		background: var(--red);
		color: var(--white);
	}
}

.btn-green {
	background: var(--green);
	color: var(--white);
}
.btn-blue {
	background: var(--blue);
	color: var(--white);
}

input.choisir_photo {
	position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0;
    z-index: -1;
    overflow: hidden;
}
label[for=choisir_photo]{
	background: var(--green);
    color: var(--white);
    padding: 10px;
    box-shadow: 0 0 2px #222;
    text-align: center;
    width: 100%;
    position: relative;
    cursor: pointer;
}