<mat-card style="margin-bottom:12px;">
	<div class="col-lg-9 col-md-12 col-12">
		<div class="abonne-info">
		    <div class="abonne-meta-info">
		        <div class="abonne-name">
		            {{ecole?.nom |uppercase}}
		        </div>
		    </div>
		</div>
	</div>
	<div class="col-md-3 col-sm-1 col-xs-12">
	    <ul class="contact" style="margin-bottom: 4px;">
	      <li><i class="fa fa-phone"></i> <span>+22507147134</span></li>      
	      <li><i class="fa fa-mobile"></i> <span>+22507147134</span></li>      
	      <li><i class="fa fa-envelope-o"></i> <span>{{ecole?.adresse?.email}}</span></li>      
	      <li><i class="fa fa-globe"></i> <span>{{ecole?.adresse?.siteWeb}}</span></li>      
	  	</ul>
	    <ul class="inline-contact social">
	    </ul>      
    </div>
</mat-card>
<mat-card style="margin-bottom:12px; padding:0;">
	<div class="breakingNews bn-bordernone bn-red" id="bn1" style="margin-bottom: 12px;">
  		<div class="bn-title" style="width: auto;">
    		<h2 style="display: inline-block;">Flash Info</h2>
    		<span></span>
    	</div>
  		<ul style="left: 167px;">
			<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
			</div>  
		</ul>
  		<div class="bn-navi"> <span></span> <span></span> </div>
	</div>
</mat-card>