<mat-card style="margin-bottom:12px;">
	<div class="row">
		<div class="col-lg-9 col-md-12 col-12">
			<div class="info">
				<div class="meta-info">
					<div class="name text-center">
						<span>{{ecole?.nom |uppercase}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<ul class="contact" style="margin-bottom: 4px;">
				<li *ngFor="let num of ecole.telephones" class="contact-item">
					<i [ngClass]="{'fa':true,
								'fa-phone':num.type==='bureau',
								'fa-mobile':num.type==='mobile'}"></i>&nbsp;<span>{{num.numero}}</span>
				</li>     
				<li><i class="fa fa-envelope-o"></i>&nbsp;<span>{{ecole?.adresse?.email}}</span></li>      
				<li><i class="fa fa-globe"></i>&nbsp;<span>{{ecole?.adresse?.siteWeb}}</span></li>      
			</ul>
			<ul class="inline-contact social">
			</ul>      
		</div>
	</div>
</mat-card>
<mat-card style="margin-bottom:12px; padding:0;">
	<div class="breakingNews bn-bordernone bn-red" id="bn1" style="margin-bottom: 12px;">
  		<div class="bn-title" style="width: auto;">
			<h2 style="display: inline-block;" i18n>Flash Info</h2>
    	</div>
  		<ul style="left: 167px;">
			<div style="padding-left:20px;margin:0 0 10px 0;">
				<marquee scrolldelay="150" onmouseover="this.stop();" onmouseout="this.start();">
					<span *ngFor="let infos of flashInfos" style="color:#990000;">{{infos.contenu}}</span>
				</marquee>
			</div>  
		</ul>
  		<div class="bn-navi"> <span></span> <span></span> </div>
	</div>
</mat-card>