:host{
	display: block;
	background: hsla(200, 20%, 10%, 1);
	padding: 1px 0 45px 0;
	border-bottom: 1px solid hsla(0, 0%, 100%, 1);
}
.partenaires{
	.partenaire{
		img{ width: 100%; }
	}
}

.title{
	font-family: Roboto, arial;
	font-size: 2em;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	color: hsla(0, 0%, 99%, 1);
	margin: 45px 0 25px 0;
}