<mat-card class="ecole-card">
	<a href="#" rel="bookmark"> 
		<div class="imagebg" #imagebg></div>
	</a>
	<div class="ecole-card-image">
	  	<div class="ecole-meta-holder">
	    	<div class="ecole-status" title="discuter avec le ecole">
	    		<i class="fa fa-comment"></i>
	    	</div>          
	  	</div>    
	</div>
	<mat-card-content class="ecole-card-content">
	  	<div class="meta" style="background-color: #efefef;"> 
	        <span class="ecole-profile-views"><i class="fa fa-eye"></i>&nbsp;&nbsp;{{ecole?.detailBlock?.nombreVue}}</span> 
	        <span class="ecole-pays pull-right"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;{{ecole?.adresse?.pays}}</span> 
	  	</div>      
	  	<div class="name">{{ecole?.nom}}</div>
	  	<div class="contact">
	  		<span *ngFor="let num of ecole.telephones" class="contact-item">
	  			<i [ngClass]="{'fa':true,
	  						   'fa-phone':num.type==='bureau',
	  						   'fa-mobile':num.type==='mobile'}"></i>&nbsp;{{num.numero}}
	  		</span>
	  	</div>            
	</mat-card-content>
	<mat-card-actions>
	  	<button mat-raised-button color="warn" class="mat-button" (click)="onViewEcole();">Profile</button>
            <span class="space-card"></span>
        <button mat-raised-button color="primary" class="mat-button" (click)="onContactEcole();">Contacter</button>
	</mat-card-actions>
</mat-card>
