


<div class="container">
   <div class="leftcolumn">
      <div class="row">
          <div class="column">
              <a target="_blank" href="">
            <img src="http://toget.ibemscreative.com/images/blocks/block7/cat1.jpg" alt="100%x200" style="width:100%">
                    Garderie, Maternel  
              </a>
          </div>
          <br>
          <div class="column">
              <a target="_blank" href="">
            <img src="http://toget.ibemscreative.com/images/blocks/block7/cat2.jpg" alt="100%x200" style="width:100%">
                    Lycée 
                </a>
          </div>
          <br>
          <div class="column">
              <a target="_blank" href="">
            <img src="http://toget.ibemscreative.com/images/blocks/block7/cat3.jpg" alt="100%x200" style="width:100%">
                    Universitée et grande école
              </a>
          </div>
          <br>
          <div class="column">
              <a target="_blank" href="">
            <img src="http://toget.ibemscreative.com/images/blocks/block7/cat1.jpg" alt="100%x200" style="width:100%">
                    Primaire
              </a>
          </div>

          <div class="column">
              <a target="_blank" href="">
            <img src="http://toget.ibemscreative.com/images/blocks/block7/cat2.jpg" alt="100%x200" style="width:100%">
                          collège
              </a>
          </div>

          <div class="column">
              <a target="_blank" href="">
            <img src="http://toget.ibemscreative.com/images/blocks/block7/cat4.jpg" alt="100%x200" style="width:100%">
                    Cabinet et centre de formation
              </a>
          </div>
        </div>
        </div>
       


        <div class="rightcolumn">
            <div class="card">
              <h2>About Me</h2>
              <div class="fakeimg" style="height:100px;">Image</div>
              <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            </div>
            <div class="card">
              <h3>Popular Post</h3>
              <div class="fakeimg">Image</div><br>
              <div class="fakeimg">Image</div><br>
              <div class="fakeimg">Image</div>
            </div>
            <div class="card">
              <h3>Follow Me</h3>
              <p>Some text..</p>
            </div>
          </div>
      </div>
              