.feature-box{
  position: relative;
  width: 100%;
  background-size: cover;
  background-color: #ffffff;
  border-radius: 0px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,.1);
  margin-bottom: 30px;
}
.feature-box-inner{
  min-height: 355px;
  padding: 30px 30px 19.995px 30px;    
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,.35);
  box-shadow: 0 0 0 rgba(0,0,0,.35);
  -webkit-transition: 500ms ease all;
  -moz-transition: 500ms ease all;
  transition: 500ms ease all;    
}
.feature-box:hover{
  border-color: rgba(0,0,0,.2);
  -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.35);
  box-shadow: 0 5px 20px rgba(0,0,0,.35);
}
.feature-box a {}
.feature-box a img{
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background: #000;
  margin: -30px -50px -19.995px -30px;    
}
.feature-box .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background: #000;
  opacity: .45;
  margin: -30px -50px -19.995px -30px;    
}
.feature-box .caption{
  position: absolute; 
  font-size: 1.875em;
  color: #ffffff;   
  font-weight: 800; 
  text-align: left;    
}
._feature-box a span{
  display: block;
  margin: 12px auto;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-family: "Poppins",sans-serif !important;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;       
}
