<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-9 ">
      <div class="container-fluid">
        <div class="row">

          <div class="col-sm-6 col-md-6 col-lg-4 col-12 cat-item" *ngFor="let cat of categorie">
              <a target="_blank" href="">
              <img src="{{cat.img}}" alt="100%x200" class="img-survol">
             
              <div class="text">
                <div class="text-image">
                  {{cat.libelle}}
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-3 sidenav">
        <div class="well">
           <a target="_blank" href=""></a>
        </div>
        <hr>
        <div class="well">
          <p i18n>Publicité 2</p>
        </div>
        <hr>
        <div class="well">
          <p i18n>Publicité 3</p>
        </div>
        <hr>
        <div class="well">
          <p i18n>Publicité 4</p>
        </div>
        <hr>
        <div class="well">
          
          <p i18n>Publicité 5</p>
        </div>
    </div>
  </div>
</div>
    

