<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9">
      <div>
<br>
<div class="row">
<div class="col-md-6">
<div class="feature-box"> 
<div class="feature-box-inner">
  <a href="http://toget.ibemscreative.com/site/block7/search?cat=1">
  <img alt="100%x200" src="http://toget.ibemscreative.com/images/blocks/block7/cat1.jpg">    
  <div class="overlay"></div>
  <div class="caption">
    <span class="text-center">Garderie, Maternel à Primaires</span>
  </div>
  </a>
</div>
</div>
</div>
<div class="col-md-6">
<div class="feature-box"> 
<div class="feature-box-inner">
  <a href="http://toget.ibemscreative.com/site/block7/search/?cat=2">
  <img alt="100%x200" src="http://toget.ibemscreative.com/images/blocks/block7/cat2.jpg">
  <div class="overlay"></div>    
  <div class="caption">
    <span class="text-center">Lycée et collège</span>
  </div>
  </a>
</div>
</div>
</div>
<div class="col-md-6">
<div class="feature-box"> 
<div class="feature-box-inner">
  <a href="http://toget.ibemscreative.com/site/block7/search/?cat=3">
  <img alt="100%x200" src="http://toget.ibemscreative.com/images/blocks/block7/cat3.jpg">  
  <div class="overlay"></div>  
  <div class="caption">
    <span class="text-center">Universitée et grande école</span>
  </div>
  </a>
</div>
</div>
</div>
<div class="col-md-6">
<div class="feature-box"> 
<div class="feature-box-inner">
  <a href="http://toget.ibemscreative.com/site/block7/search/?cat=4">
  <img alt="100%x200" src="http://toget.ibemscreative.com/images/blocks/block7/cat4.jpg"> 
  <div class="overlay"></div>   
  <div class="caption">
    <span class="text-center">Cabinet et centre de formation</span>
  </div>
  </a>
</div>
</div>
</div>



</div>          <div class="clearfix"></div>
      </div>
              <div id="list-view-section-bottom-block7" class=" row editInPlace" mode="normal">
        <div class="inner">
          </div>
      </div>
            </div>
    <div class="hidden-xs hidden-sm col-md-3" style="margin-top:24px;">      
      <aside id="sidebar" style="padding: 12px;border:1px solid  rgba(0,0,0,.2); background-color: #ffffff;">
<div class="ads ads-block">
          <h3>dsqdqsdsqdsqd</h3>
          
      <img src="http://toget.ibemscreative.com/images/ads/publicite_1.png?t=1537465461" alt="dsqdqsdsqdsqd">
  </div>
<div class="ads ads-block">
          <h3>sdfsdfsdfvcxv</h3>
          
      <img src="http://toget.ibemscreative.com/images/ads/publicite_2.jpg?t=1537465461" alt="sdfsdfsdfvcxv">
  </div>
</aside>
    </div>
  </div>
</div>