.container{
    margin-top: 15px;
}
.cat-item{
	margin-bottom: 25px;
}
.img-survol{
  height: 100%;
  opacity: 2;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  color: black;
}
.col-md-3{
  background-color: rgb(127, 255, 255);

    
}
.text-image{
  transition: .5s ease;
  opacity: 0.5;
  position: absolute;
  text-align: center;	
  }
.cat-item:hover .img-survol{
  opacity: 0.5;
  
    
}
.cat-item:hover .text-image{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    opacity:30;
    display:inline-block;
    color:black;
    padding: 0em;
    border-radius:2px;
    transition:.2s;
  }

.text {
  position:absolute;
  left:0;
  right:0;
  padding:0%;
  font-size:18px;
  }

a{
 color:white;
  opacity:0.5;
  text-align: center;
  font-size: 16px;
  opacity:6;

}

