<div class="" style="">
  <div class="pad">
    <div class="gauche-h">
      <!-- bande gauche haut-->
      <div class="band-gauche">
        {{layoutComponent.InfoMembres.nomComplet}} &nbsp;<span class="fa fa-angle-down"></span><br/>
        <div class="bl-search">
          <span class="fa fa-search search_icon"></span><input type="text" name="searchText" value=""
                                                               [(ngModel)]="userFilter.nomComplet"
                                                               placeholder="Rechercher un Membre"
                                                               class="search-bar"/>
        </div>
      </div>
      <!-- bande gauche bas -->

      <div class="" style="background:#f2f2f2; font-size:12px; text-align:center; padding:0;">Liste
        Membres  {{userFilter.nomComplet}}
      </div>
      <div class="band-user">
	  
	  
      <div *ngFor="let a of dataRec | filterBy: userFilter; index as i;">
		
      <div class="" (click)="changeVarUser(a.id,a.pathPhoto,a.nomComplet,colortab[i]);" >
        <div class="users" style=" paddind:10px; cursor:pointer; margin-top:10px;" *ngIf="a.id != layoutComponent.InfoMembres.id">
       <!--    <input  class="img-g-rond-s " [ngStyle]="{ 'background' : 'url(' + a.pathPhoto + ')', 'background-repeat' : 'no-repeat',  'background-size ': 'cover',  'border':'0px', 'background-color': '#ff6d05' , 'font-size': '30px', 'color':'#fff',  'text-align':'center', 'text-transform' : 'uppercase'}"
             
               [value]="a.pathPhoto? '' : a.login[0] " disabled/>
	   -->
			   
			   <!-- <img src="{{a.pathPhoto}}" class="img-g-rond-s " #imgphoto [ngStyle]="{'background-repeat' : 'no-repeat',  'background-size' :'cover',  'border':'0px',  'font-size': '30px', 'color':'#fff',  'text-align':'center', 'text-transform' : 'uppercase', 'background-color' : colortab[i]}"  -->
             
               <!-- [alt]="a.nomComplet[0] " title="{{a.login}}" /> -->
			   
			   
			   <div #imgphoto [ngStyle]="{'background-image': 'url(' + a.pathPhoto + ')'}" *ngIf="a.pathPhoto !== null && a.pathPhoto !== ''" class="img-g-rond-s"></div>
				<div #imgphoto [ngStyle]="{'background-image': 'url(assets/photo/avatar.jpg)'}" *ngIf="a.pathPhoto === null || a.pathPhoto === '' " class="img-g-rond-s"></div>
          <!-- <div *ngIf="a.pathPhoto === null" class="img-g-rond"
                style="background: #ff6d05; background-size: 100%"><p
             style="font-size:25px; color:#fff; padding:5px 5px 5px 15px; text-align:center;"
           >{{a.login[0]}}</p>
           </div>-->


          <span><h5 class="break_word"> {{a.nomComplet}} </h5> <span class="badge badge-pill badge-danger" *ngIf="compteurMsg[a.id]  > 0 "   >{{compteurMsg[a.id]}}</span><i class="fa fa-circle" style="color:darkgreen; float:right;"></i></span>
          <h6 class="break_word">{{a.description}} <i *ngIf="a.description === null || a.description.length === 0">Aucune description Pour ce
            membre</i></h6>
        </div>
        </div>
        </div>

        <div class="users" *ngIf="(dataRec | filterBy: userFilter).length === 0 && resulloard === false" style="text-align:center;">
          <img src="http://oupscity.fr/wp-content/uploads/2018/04/bulle.jpg" class="card-img">
          <p>Aucun Elements trouvé!</p>
        </div>

        <div style="text-align: center; width:100%;" *ngIf="resulloard == true">{{ResultText}}</div>
		
		
		
		
      </div>
    </div>


    <div class="droite-h">
      <!-- bande gauche haut-->
      <div class="band-droite">
        <i class="fa fa-hand-o-left retourmembre" style="float:left;line-height: 1.8em; margin-right:5px; cursor:pointer; display:none;" (click)="retourMembre()" *ngIf="retourAff === true"></i>
        
		<!-- <img src="{{pathPhoto_rec}}" class="img-g-rond-s " [ngStyle]="{'background-repeat' : 'no-repeat',  'background-size' :'cover',  'border':'0px',  'font-size': '30px', 'color':'#fff',  'text-align':'center', 'text-transform' : 'uppercase', 'background-color' : colorinf}" alt="{{named ? named[0] : 'T'}} " /> -->
		
		 <div [ngStyle]="{'background-image': 'url(' + pathPhoto_rec + ')'}" *ngIf="pathPhoto_rec !== null && pathPhoto_rec !== ''" class="img-g-rond-s"></div>
				<div  [ngStyle]="{'background-image': 'url(assets/photo/avatar.jpg)'}" *ngIf="pathPhoto_rec === null || pathPhoto_rec === '' " class="img-g-rond-s"></div>
		
        <div class="col-sm-12" style="width:500px;height:10px;">{{named}}
          <span class="fa fa-angle-down"></span><br/>
          <i class="fa fa-circle" style="color:darkgreen;"></i> Connecté
        </div> &nbsp;
      </div>

      <div class="band-droite-bas" style="overflow-x:hidden;">
        <div *ngIf="named != null" style="margin:0 auto; width:100%; margin-left:15px; overflow-x:hidden;">
		
		
		<div class=" col-sm-12 row default-frm" style="" >
          <p> Salut, {{named}}</p>
		<!-- <audio src="/assets/audio/1.mp3" controls id="player" style="display:block;"></audio> -->
          <img class="default-img"
               src="https://fotomelia.com/wp-content/uploads/edd/2015/11/bonhomme-blanc-3d-images-gratuites-libres-de-droits-creative-commons58-1560x1114.jpg"/>

        </div>
		
		<div class=" col-sm-12 row default-frm"   style="text-align:center;">
          <p>{{checkmsg}}</p>
        </div>
		   
          <div class="col-sm-12 row default-msg " *ngFor="let a of messageAll; index as i" style="margin:0 auto; ">

		  
		  
            <div class="col-sm-12 row" style="margin-bottom:5px; margin-top:5px;" *ngIf="a.codeSender != layoutComponent.InfoMembres.id">
              <div class="col-sm-12">
                
				<!-- <img src="{{pathPhoto_rec}}" class="img-g-rond-r pull-left" [ngStyle]="{'background-repeat' : 'no-repeat',  'background-size' :'cover',  'border':'0px',  'font-size': '30px', 'color':'#fff',  'text-align':'center', 'text-transform' : 'uppercase', 'background-color' : colorinf}" alt="{{named ? named[0] : 'T'}} " /> -->
				
				
				<div [ngStyle]="{'background-image': 'url(' + pathPhoto_rec + ')'}" *ngIf="pathPhoto_rec !== null && pathPhoto_rec !== ''" class="img-g-rond-r pull-left"></div>
				<div  [ngStyle]="{'background-image': 'url(assets/photo/avatar.jpg)'}" *ngIf="pathPhoto_rec === null || pathPhoto_rec === '' " class="img-g-rond-r pull-left"></div>
				
				
              </div>
              <div class="col-sm-12">
                <div class="receiver pull-left">{{a.message}}
				    <div class="col-sm-12 ">
                <i style="font-size:10px;" class="pull-right">
				le {{a.Date_s}}
                  <span class="fa fa-send" style="color:green"></span>
                  <span class="fa fa-send" style="color:green"></span>
                </i>
              </div>
					</div>
                
              </div>
            </div>

            <div class="col-sm-12 row" style="margin-bottom:5px; margin-top:5px;" *ngIf="a.codeSender == layoutComponent.InfoMembres.id">
              <div class="col-sm-12" style="">
                <!-- <img src="{{layoutComponent.InfoMembres.pathPhoto}}" class="img-g-rond-r pull-right" [ngStyle]="{'background-repeat' : 'no-repeat',  'background-size' :'cover',  'border':'0px',  'font-size': '30px', 'color':'#fff',  'text-align':'center', 'text-transform' : 'uppercase', 'background-color' : '#ff6d05'}" alt="{{layoutComponent.InfoMembres.nomComplet ? layoutComponent.InfoMembres.nomComplet[0] : 'moi'}} " /> -->
				
				<div [ngStyle]="{'background-image': 'url(' + layoutComponent.InfoMembres.pathPhoto + ')'}" *ngIf="layoutComponent.InfoMembres.pathPhoto !== null && layoutComponent.InfoMembres.pathPhoto !== ''" class="img-g-rond-r pull-right"></div>
				<div  [ngStyle]="{'background-image': 'url(assets/photo/avatar.jpg)'}" *ngIf="layoutComponent.InfoMembres.pathPhoto === null || layoutComponent.InfoMembres.pathPhoto === '' " class="img-g-rond-r pull-right"></div>
				
              </div>
              <div class="col-sm-12" style="">
                <div class="sender pull-right">
                  {{a.message}}
				    
				  <div class="col-sm-12 ">
                <i style="font-size:10px;" class="pull-right">
				le {{a.Date_s}}
                  <span class="fa fa-send" style="color:green"></span>
                  <span class="fa fa-send" style="color:green" *ngIf="a.status > 0"></span>
                </i>
              </div>
                </div>
              </div>
              <div class="col-sm-12 ">
          
              </div>
            </div>


          </div>
		  

        </div>

        	  <div  id="emoticonesid" style="display:none; position:absolute; bottom:100px; z-index:9999; background:#fff; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius:8px; width:30%;">
            <div style="width:100%; float:left; height:300px; overflow:auto;">
			
				<div style="" *ngFor="let emo of Emoticones; index as i"> 
				<div class="" (click)="teste(emo)" style="cursor:pointer; float:left; border-radius:100%; width:40px; height:40px; padding:5px; margin:15px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); text-align:center; display:flex; justify-content:center; align-items:center;"> 
					{{emo}}
				
				</div>
				</div>
            </div>
            </div>
			

			
		<div   style=" display:none; position:absolute; bottom:130px; z-index:9999; background:#fff; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius:8px; max-width:30%; ">
            <div style=" height:300px; overflow:scroll;  align-items: center;">
			
					<div  *ngFor="let emo of ImgVar; index as i" style=" float:left;  padding:5px; margin:15px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); text-align:center; ">
					<img class="" id="blah" style="width:100px; height:100px;"
               [src]="emo" /><i class="fa fa-remove" (click)="RemoveItemTab(emo)" style="color:red; cursor:pointer; border-radius:100%;  border:1px solid red; top:0;"></i>
			   
					</div>
				</div>
           
          
        </div>
		
		<div class=" col-sm-12 row default-frm" style="" *ngIf="named === null">
          <p> Salut, Vous êtes sur la platforme de messagerie de toget.</p>
          <img class="default-img"
               src="https://fotomelia.com/wp-content/uploads/edd/2015/11/bonhomme-blanc-3d-images-gratuites-libres-de-droits-creative-commons58-1560x1114.jpg"/>

        </div>

      </div>
	  
        <div class="col-sm-12 row input-bas" *ngIf="named != null" style="margin-left:10px;">
		

		
		
		 <div class="col-sm-12 row" style="padding:0px; margin:0px; ">
		 
		<div class="row" style="width:100%; dispay:flex; justify-content:center; align-items:center;  float:left; background:#fff; height:50px; border-bottom:1px solid #333;">
				<div onclick="$('#emoticonesid').toggle();" id="btnId" style="border:0px; float:left; margin:10px; font-size:20px; background:transparent; cursor:pointer;">{{Emoticones[4]}}</div>
				
			   <i class="fa fa-plus"  (click)="fileloader.click();"
               style="font-size:30px; color:dodgerblue; float:left; cursor:pointer; line-height:1.2em;"></i>&nbsp;
		
          <input type="file" style="display:none;" value="" name="fichier_tt" (change)="recuptImgs($event)" multiple="multiple" [(ngModel)]="fichier_tt"#fileloader/>	
		
			 		<textarea type="text" id="textMessage" name="message_ss"  class="input-bas-in" value="" placeholder="message ici..." [(ngModel)]="message_ss" (keyup)="enterSend($event);" ></textarea>	 
		&nbsp; &nbsp;<i class="fa fa-paper-plane sendMMM " style="font-size:30px; cursor:pointer;" (click)="SEndDiscusion()"></i>
		
		 </div>

		</div>
		
		</div>
			

		  
		  
         


    </div>

  </div>
</div>

