.mod{
position:fixed;
left:0;
right:0;
bottom:0;
top:0;
background-color: rgba(0,0,0,0.4);
display: -webkit-flex; /* Safari */
display: flex;
justify-content: center;
}


.col-mod{
width:100%;
height:100%;
background:#333;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
}

.angle-taille-left{
	position:relative;
	font-size: 50px;
	color: #09c;
	cursor: pointer;
	float:left !important;
	border-radius:50%;
	border:#fff;
	margin:10px;
	padding:5px;
}

.angle-taille-left:hover{

	font-weight:bold;
	color:#fefefe;
}

.angle-taille-right:hover{

	font-weight:bold;
	color:#fefefe;
}

.angle-taille-right{
	position:relative;
	font-size: 50px;
	color: #09c;
	cursor: pointer;
	float:right;
	border-radius:50%;
	border:#fff;
	margin:10px;
	padding:5px;
}

.imgzoom{
	width:auto;
	height:100%;
	background-repeat:cover;
}