ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
.year {
    font-family: "Poppins",sans-serif !important;
    font-size: 16px;
    color: #f99f36;
}
.job {
    font-family: "Poppins",sans-serif;
    font-size: 18px;
}
.compagny {
    float: right;
    font-size: 16px;
}
.description {
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-top: 12px;
    text-align: justify;
}
/**** BASE ****/
a {
    color: #03a1d1;
    text-decoration: none!important;
}

/* Font changes */
.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}

/* Color  */
.clr-535353 {
    color: #535353;
}