<mat-card class="abonnes-items">
    <!--img mat-card-image src="{{abonne.personne.pathPhoto}}" alt="Image de couverture " class="img-fluid"-->
    <div class="imagebg" #imagebg></div>
    <div style="width: 100%;">
        <div class="abonne-holder">
            <div class="abonne-exp" i18n>{{abonne?.membre?.cvPersonne?.anneExperience}} d'expérience</div>
            <div [ngClass]="{'abonne-statut': true,
                 'status-offline': abonne.membre.actived ==false,
                 'status-online' : abonne.membre.actived ==true}"
                 title="Discuter avec cet abonné">
                <i class="fa fa-comment"></i>
            </div>
        </div>
    </div>
    <mat-card-content>
        <div class="abonne-meta">
            <div class="abonne-profil-view"><i class="fa fa-eye"></i> {{nombredevue}}</div>
            <div class="abonne-pays pull-right"><i class="fa fa-map-marker"></i> {{abonne?.membre?.adresse?.pays}}</div>
        </div>
        <div class="abonne-name" >{{nomAffiche}}</div>
        <div class="abonne-fonction">{{abonne.membre?.cvPersonne?.specialite}}</div>
        <div class="abonne-langue" i18n>Français</div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn" class="mat-button" (click)="onViewProfileAbonne(); newview()" i18n>Profile</button>
            <span class="space-card"></span>
        <button mat-raised-button color="primary" class="mat-button" (click)="onContactAbonne(); newview()" i18n>Contacter</button>
    </mat-card-actions>
</mat-card>
