<mat-card class="abonnes-items">
    <!--img mat-card-image src="{{abonne.personne.pathPhoto}}" alt="Image de couverture " class="img-fluid"-->
    <div class="imagebg" #imagebg></div>
    <div style="width: 100%;">
        <div class="abonne-holder">
            <div class="abonne-exp">{{abonne?.membre?.cvPersonne?.anneExperience}} d'expérience</div>
            <div [ngClass]="{'abonne-statut': true,
                 'status-offline': abonne.membre.actived ==false,
                 'status-online' : abonne.membre.actived ==true}"
                 title="Discuter avec cet abonné">
              	<i class="fa fa-comment"></i>
           	</div>
        </div>
    </div>
    <mat-card-content>
        <div class="abonne-meta">
            <div class="abonne-profil-view"><i class="fa fa-eye"></i> {{nombredevue}}</div>
            <div class="abonne-pays"><i class="fa fa-map-marker"></i> {{abonne?.membre?.adresse?.pays}}</div>
        </div>
        <div class="abonne-name" >{{abonne?.membre?.nomComplet}}</div>
        <div class="abonne-fonction">{{abonne.membre?.cvPersonne?.specialite}}</div>
        <div class="abonne-langue">Français</div>
    </mat-card-content>
   	<mat-card-actions>
        <button mat-raised-button color="warn" class="mat-button" (click)="onViewProfileAbonne(abonne); newview()">Profile</button>
            <span class="space-card"></span>
        <button mat-raised-button color="primary" class="mat-button" (click)="onContactAbonne(abonne); newview()">Contacter</button>
    </mat-card-actions>
</mat-card>