<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!------ Include the above in your HEAD tag ---------->

<section>
  <div class="container">
	<div class="col-sm-12" style="font-size:30px; border-bottom:4px solid #343a40; margin-bottom:10px; margin-top:10px;">
		<div class="col-sm-8"><button mat-button color="primary">Galerie Photos / videos</button></div>
	</div>
	<div class="button-row ">
	
	<input type="file" style="display:none;" multiple accept="image/*" #photos>
	<input type="file" style="display:none;" accept="video/*" #videos>
	
<div class="pull-left" style="line-height:4.5em;">
  <button mat-raised-button>Mes videos (02)</button>
  <button mat-raised-button disabled>Mes photos (10)</button>
  <a mat-raised-button routerLink=".">Touts</a>
</div>
	
	<div class="pull-right">
  <!-- <button mat-fab>Basic</button> -->
	<button mat-fab color="primary" (click)="photos.click()"><i class="fa fa-camera"></i></button>
  <button mat-fab color="accent" (click)="videos.click()"><i class="fa fa-video-camera"></i></button>
  <button mat-fab color="warn">Warn</button>
  <!-- <button mat-fab disabled>Disabled</button> -->
  <!-- <button mat-fab> -->
    <!-- <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon> -->
  <!-- </button> -->
  <a mat-fab routerLink=".">Link</a>
</div>
</div>

	<div class="gal-container" > 
    <div class="col-md-8 col-sm-12 co-xs-12 gal-item" *ngFor="let ie of [1,2,3,4,5,6,7,8,9]; index as i">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#1" (click)="geturi(i+1)">
          <img src="http://nabeel.co.in/files/bootsnipp/gallery/{{i+1}}.jpg" class="">
        </a>
      </div>
    </div>

  </div>
  </div>
 

</section>
<footer>
    <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center">
            
            <h6>fin de la liste</h6>
        </div>   
    </div>
</footer>
