<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!------ Include the above in your HEAD tag ---------->

<section>
  <div class="container">
	<div class="col-sm-12" style="font-size:30px; border-bottom:4px solid #343a40; margin-bottom:10px; margin-top:10px;">
		<div class="col-sm-8"><button mat-button color="primary">Galerie Photos / videos</button></div>
	<div class="col-sm-4"><i class="fa fa-bars pull-right" mat-fab (click)="affichecache()" style="color:#ff4081; cursor:pointer;"></i></div>	
	</div>
<div class="button-row sscach">
	
	<input type="file" style="display:none;" multiple accept="image/*" #photos>
	<input type="file" style="display:none;" accept="video/*" #videos>
	
<div class="pull-left" style="line-height:4.5em;">
<button mat-raised-button  routerLink="photo" class="routing" [disabled]="ativ === 'photo'? true : false" (click)="actived('photo')">Mes photos (10)</button>
<button mat-raised-button routerLink="video" class="routing" [disabled]="ativ === 'video'? true : false" (click)="actived('video')"> Mes videos (02)</button>
  <a mat-raised-button routerLink="allgallery" class="routing" [disabled]="ativ === 'allgallery'? true : false" (click)="actived('allgallery')">Touts</a>
</div>
	
	<div class="pull-right">
  <!-- <button mat-fab>Basic</button> -->
	<button mat-fab color="primary" (click)="photos.click()"><i class="fa fa-camera"></i></button>
  <button mat-fab color="accent" (click)="videos.click()"><i class="fa fa-video-camera"></i></button>
  <button mat-fab color="warn">Warn</button>
  <!-- <button mat-fab disabled>Disabled</button> -->
  <!-- <button mat-fab> -->
    <!-- <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon> -->
  <!-- </button> -->
</div>
</div>
<!-- tab ************************************************************************************** -->

<router-outlet></router-outlet>

<!-- tab ************************************************************************************** -->


  </div>
 

</section>
<footer>
    <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center">
            
            <h6>fin de la liste</h6>
        </div>   
    </div>
</footer>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
  </button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
