$xs-max: 595px;
$sm-min: 596px;
$sm-max: 767px;
$md-min: 768px;
$md-max: 991px;
$lg-min: 992px;
$lg: 1200px;

@media screen {
	mat-card {
		margin-bottom: 15px;
		padding: 0;
		&-content {
			display: block;
		    margin: 0;
		    padding: 24px;
			color: #ffffff;
			overflow: hidden;
			&:hover {
				.icon {
					transform: scale(1.2);
				}
			}
			.value {
				font-family: arial;
			    font-weight: 800;
			    font-size: xx-large;
			}
			.icon {
				display: flex;
			    position: absolute;
			    top: 10px;
			    right: 10px;
			    font-size: 5rem;
			    color: rgba(255,255,255,0.4);
			    bottom: 10px;
			}
		    &.blue{
				background: #03bcde;
		    }
		    &.green{
				background: #04c575;
		    }
		    &.red{
				background: #f20909;
		    }
		    &.purple{
				background: #b3029c;
		    }			
		}
		&-footer {
			display: flex;
			margin: 0;
			justify-content: space-between;
			padding: 5px 24px;			
			color: #333333;	
			&:hover {
				color: #12A5F9;
			}			
		}
		a{
			&:hover {
				text-decoration: none;
			}
		}
	}
}

@media screen and (min-width: $md-min) {
	
}

@media screen and (max-width: $sm-max) {

}