.blocks-items a{
  color: #333333;
}

.imagebg {
    width: 100%;
    height: 150px;
    
  }
  .titre-block {
    padding-top: 5px;
    display: table;
    align-items: center;
    font-size: small;
    height: 10px;
    overflow: hidden;
  }
.blocks-items a:hover{
  text-decoration: none;
  color: #333333;
}
mat-card{
  margin: 20px auto;
  padding:0px;
}
mat-card-content{
  padding: 0px 15px;
  margin-top: 20px;
  margin-bottom: 50px;
}
mat-card-actions{
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
}
.container{
  display: flex;
  background: oldlace;
  flex-wrap: wrap;
  flex-direction:ltr;
  margin: 10 px;
  justify-content: center;
}

.pub{
  background-color:lightblue;
  width: 200px;
  margin-left: 100px;
  text-align: center;
  line-height: 150px;
  font-size: 30px;
  flex-direction: column;
  
}

