<div class="container">



  <div class="row">
    <div *ngFor="let blk of blocks" class="col-lg-4 col-12 col-md-6">
      <mat-card class="blocks-items">
        <a routerLink="/site/blocks/{{blk.id}}" routerLinkActive="active" (click)="onViewBlock(blk)">
          <img src="assets/default.jpg" class="img-fluid photo-list">
          <mat-card-content>
            <h5 [innerHtml]="blk.description"></h5>
          </mat-card-content>
        </a>
        <mat-card-actions>
          <button mat-raised-button color="warn" class="btn btn-block mat-button" (click)="onSabonner(blk)">S'abonner</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>

