.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@-ms-viewport       { width: device-width; }
/*css for login form page*/
    .or-text-row {
		display: table-row;
	}
	.or-text {
		display: table;
		width: 100%;
		position: relative;
		margin: 20px 0;
	}
	.or-text-step button[disabled] {
		opacity: 1 !important;
		filter: alpha(opacity=100) !important;
	}
	.or-text-row:before {
		top: 14px;
		bottom: 0;
		position: absolute;
		content: " ";
		width: 100%;
		height: 1px;
		background-color: #e8e8e8;
		z-order: 0;
	}
	.or-text-line {
		display: table-cell;
		text-align: center;
		position: relative;
		width: 100%;
	}
	.or-text-line p {
		margin-top:10px;
	}
	.btn-circle {
		width: 30px;
		height: 30px;
		text-align: center;
		padding: 2px 0;
		font-size: 17px;
		line-height: 1.428571429;
		border-radius: 15px;
	}
	.btn-group{margin-bottom: 5px;}
	.fa{padding-right: 10px;}


	.fac{
	background:#3b5998;
	border:1px solid #3b5998;
	}







#overlay6{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

}
#modalCheck6{
    display: none;
}
#modalCheck6:checked + #overlay6{
	display:block;
	justify-content: center;
	flex-flow:row wrap;
	top:0;
	-webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.popup_block{
background:#fff;
opacity:1 !important;
margin:10px;
padding:5px;
border-radius:10px;
  min-height: 400px;
  align-items: center;
   margin:0 auto;
   margin-top:20px;
}


.fermeture_mod{
float:right;
background:#09c;
border-radius:290px;
width:25px;
text-align:center;
color:#fff;
cursor:pointer;
}

.sc_btn{
width:90%;
margin:5px;
}
input:focus{
border:1px solid #09c;
}
