<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="titre">Maitrise du language</mat-card-title>
    <mat-card-subtitle><span class="niveau">Master 1</span> - <span class="periode">2 mois</span></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../../assets/default.jpg" alt="Photo">
  <mat-card-content>
    <p class="description">
      Description de la maitrise du language
    </p>
    <div class="prix">210 000 FCFA</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="bt-x btn-blue"><i class="fa fa-info"></i></button>
    <button mat-raised-button class="bt-x btn-green"><i class="fa fa-edit"></i></button>
    <button mat-raised-button class="bt-x btn-red"><i class="fa fa-trash"></i></button>
  </mat-card-actions>
</mat-card>