<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="titre">{{titre}}</mat-card-title>
    <mat-card-subtitle><span class="niveau">{{niveau}}</span> - <span class="periode">{{periode}}</span></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../../assets/default.jpg" alt="Photo">
  <mat-card-content>
    <p class="description">
      {{description}}
    </p>
    <div class="prix">{{prix}}</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="bt-x btn-blue" (click)="handleClick('view')" ><i class="fa fa-info"></i></button>
    <button mat-raised-button class="bt-x btn-green" (click)="handleClick('edit')" ><i class="fa fa-edit"></i></button>
    <button mat-raised-button class="bt-x btn-red" (click)="handleClick('delete')" ><i class="fa fa-trash"></i></button>
  </mat-card-actions>
</mat-card>