<app-admin-top-zone [wprc_titre]="'Tableau de bord'" [wprc_sous_titre]="'sous-titre'" [wprc_fa]="'home'"
                    [wprc_active_nav]="'Home'" [wprc_navs]="['Home1','Home2']"></app-admin-top-zone>
<div appBlocPage>
  <div class="row">
      <div class="col-sm-3">
          <app-admin-widget-one></app-admin-widget-one>
      </div>
      <div class="col-sm-3">
        <app-admin-widget-one></app-admin-widget-one>
      </div>
      <div class="col-sm-3">
        <app-admin-widget-one></app-admin-widget-one>
      </div>
      <div class="col-sm-3">
        <app-admin-widget-one></app-admin-widget-one>
      </div>
  </div>
</div>
