.petit{
  width: 100px;
  height: 50px;
}
.weget-conteneur{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.principal{
  display: flex;
  flex-direction: column;

  width: 200px;
  justify-content: center;
  align-items: center;

}
.weget-toolbar {
  position: fixed;
  z-index: 2;
}
.educ-side-container {
  flex: 1;
  margin-top: 56px;

}

.sidenavBar{
  display: flex;
}

.weget-toolbar .logo{
  margin: 10px;
  box-sizing: border-box;
}

.weget-toolbar button{
  background: rgba(0,0,0,0);
  color: #fff;
  font-size: 1rem;
  border-radius: 3px;
  font-weight: 300;
  padding: 5px 15px;
  border: 1px solid #fff;
}
