<app-toolbar></app-toolbar> 
<div class="row body">	
	<div class="col-12">
		<router-outlet></router-outlet> 
	</div>
</div>	
<div class="row footer">
	<div class="col-12">
<app-footer></app-footer> 
	</div>
	<app-chat-cli></app-chat-cli>
<button mat-fab color="accent" class="chatbar" (click)="loadchat();" *ngIf="changechat === false"><i class="fa fa-comments"></i></button>
<button mat-fab color="accent" class="chatbar" (click)="closechat();" *ngIf="changechat === true"><i class="fa fa-remove"></i></button>
</div>