<!--<a href="">
<app-profil-cover [multiple]="multiple" [multiple_interval]=10000 [height]="'200px'" [flat]="true">
</app-profil-cover>
</a>
-->
<div class="card" style="margin-top:3px;">
  <a href=".." target="_blank">
    <img src="assets/images/nb.gif"
    style="width:253px;">
  </a>
  </div>

<div class="card" style="margin-top:3px;">
  <a href="https://www.yaatoo.ci/casino-mandarine/245-soins-du-linge" target="_blank">
  <img src="assets/images/pub1.png" 
  style="width: 253px;">
  </a>
</div>
<div class="card" style="margin-top:3px;">
  <a href="https://www.yaatoo.ci/casino-mandarine/50-corps" target="_blank">
  <img src="assets/images/pub2.jpg"
  style="width:253px;">
  </a>
</div>

<div class="card" style="margin-top:3px;">
<a href="https://www.prepa.pro" target="_blank">
  <img src="assets/images/prepa.png"
  style="width:253px;">
</a>
</div>

<div class="card" style="margin-top:3px;">
<a class="image" href="https://www.jumia.ci/tvs/?source=CI_W46_BF1_Black-friday-Best-deals" target="_blank">  
  <img class="lazy -loaded" src="https://static.jumia.ci/cms/BF18/live/Dekstop/day12/CI_W46_BF1-BF18_tvs.gif"
 data-src="https://static.jumia.ci/cms/BF18/live/Dekstop/day12/CI_W46_BF1-BF18_tvs.gif" alt="" style="width:253px"> 
 </a>
</div>


<div class="card" style="margin-top:3px;">
  <a href=".." target="_blank">
    <img src="assets/images/ok.gif"
    style="width:253px;">
  </a>
  </div>


  <div class="card" style="margin-top:10px;">

    <div class="cube">
    <div class="face" style="background-image: url(assets/images/pub3.png); background-size: cover;">
    </div>
    <div class="face" style="background-image: url(assets/images/pub11.jpg); background-size: cover;">
    </div>
    <div class="face" style="background-image: url(assets/images/pub5.jpg); background-size: cover;">
    </div>
    <div class="face" style="background-image: url(assets/images/pub6.png); background-size: cover;">
    </div>
    <div class="face" style="background-image: url(assets/images/pub8.png); background-size: cover;">
    </div>
    <div class="face" style="background-image: url(assets/images/pub9.jpg); background-size: cover;">
    </div>

  </div>
  
  </div>





 
<!--<div class="card-body"></div>-->
<!--     
     src=" https://static.jumia.ci/cms/BF18/live/Dekstop/day12/CI_W46_BF1-BF18_tvs.gif">
      <h5 class="card-title" i18n>Special title treatment</h5>
      <a href="#" class="btn btn-primary" i18n>Go somewhere</a>
  <div class="card">
    <h3 i18n>Follow Me</h3>
    <p i18n>Some text..</p>
  </div>
-->
<!--
  <iframe src=" https://static.jumia.ci/cms/BF18/live/Dekstop/day12/CI_W46_BF1-BF18_tvs.gif" width="40%" height="30%">
</iframe>
-->