<form [formGroup]="ecoleForm" *ngIf="ecoleForm" (submit)="update()" >
<div class="row">
	<div class="col-md-8">
		<mat-expansion-panel>
		  <mat-expansion-panel-header>
		    <mat-panel-title>
		      Informations Personnelles
		    </mat-panel-title>
		  </mat-expansion-panel-header>
			<div class="row">
				<div class="col-md-6">
					<mat-form-field>
						<input matInput placeholder="Nom établissement" formControlName="nom" />
					</mat-form-field>

					<mat-form-field>
					  <mat-select placeholder="Type établissement" formControlName="typeEtablissement">
					    <mat-option *ngFor="let typ of outils.typeEtablissement" [value]="typ.name">
					      {{typ.libelle}}
					    </mat-option>
					  </mat-select>
					</mat-form-field>
					<div formArrayName="telephones">
						<button mat-raised-button class="btn-blue" type="button" (click)="addTelephone()">Ajouter téléphone</button>
						<div *ngFor="let tel of telephones?.controls; let i=index;">
							<div [formGroupName]="i">
								<label>
									Telephone #{{i + 1}}
									<mat-form-field class="example-full-width">
										<mat-select placeholder="Type telephone" formControlName="type">
										    <mat-option *ngFor="let typ of outils.typeTelephones" [value]="typ.name">
										      {{typ.libelle}}
										    </mat-option>
										  </mat-select>
									</mat-form-field>
								<mat-form-field>
									<input matInput placeholder="Téléphone" formControlName="numero"/>
									<button matSuffix mat-fab type="button" (click)="deleteTelephone(i)" ><mat-icon>delete</mat-icon></button>
								</mat-form-field>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6" formGroupName="adresse">
					<mat-form-field>
					  <mat-select placeholder="Pays" formControlName="pays">
					    <mat-option *ngFor="let pays of outils.pays" [value]="pays.name">
					      {{pays.name}}
					    </mat-option>
					  </mat-select>
					</mat-form-field>

					<mat-form-field>
					  <mat-select placeholder="Ville" formControlName="ville">
					    <mat-option *ngFor="let ville of outils.villes" [value]="ville.name">
					      {{ville.name}}
					    </mat-option>
					  </mat-select>
					</mat-form-field>

					<mat-form-field>
						<input matInput formControlName="boitePostal" placeholder="Adresse postale"/>
					</mat-form-field>
					
					<mat-form-field>
						<input matInput formControlName="email" placeholder="Email" required="required" />
					</mat-form-field>

					<mat-form-field>
						<input matInput formControlName="siteWeb" placeholder="Site web" />
					</mat-form-field>
					
				</div>
			</div>
		</mat-expansion-panel>

		<mat-expansion-panel>
		  <mat-expansion-panel-header>
		    <mat-panel-title>
		      Présentation
		    </mat-panel-title>
		  </mat-expansion-panel-header>
			<div class="row">
				<div class="col-md-12">
					<textarea [froalaEditor]="editor_options" formControlName="presentation" ></textarea>
				</div>
			</div>
		</mat-expansion-panel>
		
		<mat-expansion-panel>
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        Chiffres
		      </mat-panel-title>
		    </mat-expansion-panel-header>
	  	  	  <button mat-raised-button class="btn-blue">Ajouter</button>

		  </mat-expansion-panel>

		<mat-expansion-panel>
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        Partenaires
		      </mat-panel-title>
		    </mat-expansion-panel-header>
	  	  	  <button mat-raised-button class="btn-blue">Ajouter</button>

		  </mat-expansion-panel>

		<mat-expansion-panel>
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        Témoignages
		      </mat-panel-title>
		    </mat-expansion-panel-header>
	  	  	  <button mat-raised-button class="btn-blue">Ajouter</button>

		  </mat-expansion-panel>

		  <mat-expansion-panel>
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        Adresse géographique
		      </mat-panel-title>
		    </mat-expansion-panel-header>

		  </mat-expansion-panel>
	</div>
	<div class="col-md-4">
		<app-modif-photo-ecole></app-modif-photo-ecole>
	</div>
	<div class="col-md-12">
		<button class="btn-blue" type="submit" mat-raised-button>Enregistrer</button>
	</div>
</div>
</form>
