<app-admin-card [adminCard]="admin_card" (clickOcur)="handleClick($event)" >
	<div class="admin-card-content">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="70%" i18n>Image</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let cov of (sousBlocks$ | async)?.body.pathPhotoCouverture; let i=index;">
					<td>
    					<button mat-raised-button class="bt-x btn-red"><i class="fa fa-trash"></i></button>
						<app-profil-cover [isAdmin]="false" id="img_cover" [vues]="'-1'" [image]="cov">
						<app-profil-avatar [isAdmin]="false" id="img_profil" [image]="(sousBlocks$ | async)?.body.pathLogo"></app-profil-avatar>
			    	</app-profil-cover>
			    </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="admin-card-footer">

	</div>
</app-admin-card>