<app-top-zone [topZone]="top_zone" ></app-top-zone>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <mat-card>
      	<mat-card-content>
      		<div class="top-list">
	      		<mat-list>
	      			<mat-list-item><a routerLink="/admin/messagerie/liste_message"><i class="fa fa-inbox"></i> <span class="textin text-truncate" i18n>Boite de réception</span><span class="badge badge-success">{{nonLu$ | async}}</span></a></mat-list-item>
	      			<mat-list-item><a routerLink="/admin/messagerie/liste_message"><i class="fa fa-paper-plane"></i> <span class="textin text-truncate" i18n>Messages Envoyées</span> <span class="badge badge-success">0</span></a></mat-list-item>
	      			<mat-list-item><a routerLink="/admin/messagerie/liste_contacts"><i class="fa fa-users"></i> <span class="textin text-truncate" i18n>Mes Contacts</span> <span class="badge badge-success">5</span></a></mat-list-item>
	      		</mat-list>      			
      		</div>
      	</mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-9">
      <mat-card>
      	<mat-card-content>
      		<router-outlet></router-outlet>
      	</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>