<app-top-zone [topZone]="top_zone" ></app-top-zone>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <mat-card>
      	<mat-card-content>
      		<div class="top-list">
	      		<mat-list>
	      			<mat-list-item><a routerLink="/admin/messagerie/liste_message"><i class="fa fa-inbox"></i> <span class="textin text-truncate">Boite de réception</span><span class="badge badge-success">2</span></a></mat-list-item>
	      			<mat-list-item><a routerLink="/admin/messagerie/liste_message"><i class="fa fa-paper-plane"></i> <span class="textin text-truncate">Messages Envoyées</span> <span class="badge badge-success">0</span></a></mat-list-item>
	      			<mat-list-item><a routerLink="/admin/messagerie/liste_contacts"><i class="fa fa-users"></i> <span class="textin text-truncate">Mes Contacts</span> <span class="badge badge-success">5</span></a></mat-list-item>
	      		</mat-list>      			
      		</div>
      		<!-- <div class="bottom-list">
      			<h3 class="title">Contacts</h3>
	      		<hr class="niv1">
      			<mat-list>
	      			<mat-list-item>
	      				<div class="list-item-content">	      					
		      				<div class=line1>
		      					<span class="name">Yao Kouamé</span> 
		      					<span class="badge badge-success entreprise">Toget</span>
		      				</div> 
		      				<div class="line2 text-truncate">
		      					<span class="email">sylvain.yao@togetop.com</span>
		      				</div>
		      				<div class="line3">
		      					<span class="badge badge-success contact">07344680</span>
		      				</div>
	      				</div>
	      			</mat-list-item>
	      		</mat-list>   
      		</div> -->
      	</mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-9">
      <mat-card>
      	<mat-card-content>
      		<router-outlet></router-outlet>
      	</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>