<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4> A propos:</h4>
        <p>
          Toget est un réseau professionnel, de recrutement, d'affaires et de recherche de partenariats, de spécialités et de dépanneurs. Selons vos besoins, trouvez des personnes qualifiées.
        </p>
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-4">
        <div class="">
          <h4>Contacts</h4>
          <ul class="contact">
            <li>
              <b>Adresse : </b>
              <span>01 BP 13662 ABIDJAN 01</span>
            </li>
            <li>
              <b>Tel : </b>
              <span>22 422 937</span>
            </li>
            <li>
              <b>Mobile : </b>
              <span>77 950 437</span>
            </li>
            <li>
              <b>E-mail : </b>
              <span>Info@toget.pro</span>
            </li>
            <li>
              <b>Site internet : </b>
              <span>www.toget.pro</span>
            </li>
          </ul>
          <div class="icon">
            <a mat-mini-fab class="btn-social facebook" href target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
            <a mat-mini-fab class="btn-social twitter" href target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
            <a mat-mini-fab class="btn-social gplus" href target="_blank">
              <i class="fa fa-google-plus"></i>
            </a>
            <a mat-mini-fab class="btn-social linkedin" href target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="copyright">
  <div class="container">
    <div class="pull-left">
      Copyright © 2018 Designed by Ibems Creative
    </div>
    <div class="pull-right">
      <ul class="nav nav-pills">
        <li><a> A propos de nous</a></li>
        <li><a> Condition d'utilisation</a></li>
        <li><a> Confidentialité</a></li>
        <li><a> Nos contacts</a></li>
      </ul>
    </div>
  </div>
</div>

