<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4> A propos:</h4>
        <p>
          Toget est un réseau professionnel, de recrutement, d'affaires et de recherche de partenariats, de spécialités et de dépanneurs. Selons vos besoins, trouvez des personnes qualifiées.
        </p>
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-4">
        <div class="">
          <p>
            Contacts
            Adresse : 01 BP 13662 ABIDJAN 01
            Tel :  22 422 937
            Mobile : 77 950 437
            E-mail :  Info@toget.pro
            Site internet :  www.toget.pro
          </p>
          <div class="icon">
            <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="" target="_blank"><i class="fa fa-google"></i></a>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>

<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        Copyright © 2016 Designed by Ibems Creative
      </div>
      <div class="col-md-7" >
        <ul class="list-unstyled">
          <li><a> A propos de nous</a></li>
          <li><a> Condition d'utilisation</a></li>
          <li><a> Confidentialité</a></li>
          <li><a>  Nos contacts</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

