      <div class="text text-center  pull-left border_bot" i18n> CREER VOTRE COMPTE GRATUITEMENT OU CONNECTEZ VOUS <a href="#" (click)="connect(); false;">ici</a></div>
      <br/>
      <br/>
      <br/>

      <form [formGroup]="membreForm">
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field>
              <input matInput type="text" autocomplete="off" placeholder="Nom" formControlName="nom" />
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field>
              <input matInput type="text" autocomplete="off" placeholder="Prénoms" formControlName="prenom" />
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <mat-form-field>
              <input matInput type="email" autocomplete="off" placeholder="Email" formControlName="login" />
            </mat-form-field>
          </div>

          <div  class="col-sm-6" formArrayName="telephones">
            <div *ngFor="let telephone of telephones.controls; let i=index">
              <mat-form-field [formGroupName]="i">
                <input matInput type="text" autocomplete="off" placeholder="Numéro" formControlName="numero" />
              </mat-form-field>
            </div>
          </div>

          <div class="col-sm-6">
            <mat-form-field>
              <input matInput type="password" autocomplete="off" placeholder="Mot de passe" formControlName="password" />
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <mat-form-field>
              <input matInput type="password" autocomplete="off" placeholder="Verification du mot de passe"
                     formControlName="repassword" />
            </mat-form-field>
          </div>

        <div class="col-sm-12 form-group">
          <p>
            <em class="formLogin__infoLabel" i18n>
              Vous recevrez un Email de confirmation sur cette adresse email.
            </em>
          </p>
        </div>

        <div class="col-sm-12 form-group">

          <label for="checkbox_id"><b class="error1">*</b><input type="checkbox" (click)="toggleSend()" name="chk" id="checkbox_id" value="1"/> &nbsp;<span i18n>J'ai lu et j'accepte les</span> <a href=""><span i18n>Conditions Générales d'Utilisation et la</span> <br/><span i18n>Politique de Protection des Données Personnelles.</span> </a></label>
        </div>

          <div class="col-12 text-center" style="">
            <button type="button" (click)="sending()" class="btn btn-block btn-info text-center"><span i18n>S'inscrire</span> <img src="{{regist.ajax_loader}}" class="loader-img" /></button>

          </div>
        </div>
      </form>



