.btn-blue {
    background-color:hsla(200, 50%, 50%, 1);
    color: hsla(0, 0%, 100%, 1);
}
.btn-red {
    background-color:hsla(0, 70%, 50%, 1);
    color: hsla(0, 0%, 100%, 1);
}
.btn-green {
    background-color:hsla(120, 50%, 50%, 1);
    color: hsla(0, 0%, 100%, 1);
}
.bt-x{
	margin-bottom: 5px;
	width: auto;
	min-width: auto;
}