
ul {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
}
li {
    list-style-type: none;
}
.year {
    font-family: "Poppins",sans-serif !important;
    font-size: 16px;
    color: #f99f36;
}
p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    opacity: .85;
    color: #a6a6a6;
}