<app-admin-card [adminCard]="admin_card" (clickOcur)="handleClick($event)" >
	<div class="admin-card-content">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="45%">Contenu</th>
					<th width="10%">Etat</th>
					<th width="15%">Date</th>
					<th width="20%">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let flash of (flash$ | async); let i=index;">
					<td>
						{{flash.contenu}}
					</td>
					<td>
						<span *ngIf="flash.etat"><i class="fa fa-eye"></i></span>
						<span *ngIf="!flash.etat"><i class="fa fa-eye-slash"></i></span>
					</td>
					<td>{{flash.date}}</td>
					<td>
						<button mat-raised-button (click)="modifierFlash(flash.id)" class="green">Modifier</button>
						<button mat-raised-button class="btn-danger">supprimer</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="admin-card-footer">

	</div>
</app-admin-card>