<app-top-zone [topZone]="top_zone" ></app-top-zone>
<div class="container-fluid">
  	<div class="row">
	    <div class="col-12">
	    	<app-cover-profil-admin [cover]="coverModel" ></app-cover-profil-admin>			
			<br>
			<br>
	    	<mat-tab-group>
		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-gitter"></i>&nbsp;&nbsp;
		      Mon ecole
		    </ng-template>
		    <div class="bien-contenir">
		    	...		    	
		    </div>
		  </mat-tab>

		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;
		      Entête de page
		    </ng-template>
		    <div class="bien-contenir">
		    	...
		    </div>
		  </mat-tab>

		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-trophy"></i>&nbsp;&nbsp;
		      Flash info
		    </ng-template>
		    <div class="bien-contenir">
				...
			</div>
		  </mat-tab>

		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-trophy"></i>&nbsp;&nbsp;
		      Mes formations
		    </ng-template>
		    <div class="bien-contenir">
				...
			</div>
		  </mat-tab>
		  
		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-lock"></i>&nbsp;&nbsp;
		      Mes documents
		    </ng-template>
		    <div class="bien-contenir">
				...
			</div>
		  </mat-tab>

		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-lock"></i>&nbsp;&nbsp;
		      Mes photos
		    </ng-template>
		    <div class="bien-contenir">
				...
			</div>
		  </mat-tab>
		</mat-tab-group>


	    </div>
	</div>
</div>

