<div class="container-accueil">
  <div>
    <div class="jumbotron text-center" style="background-image: url('assets/images/cover.jpg'); height: 300px">

      <h2 style="color: orange" align="center">
        {{title}}
      </h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h3 class="first-title">Nos abonnés</h3>
          <app-carousel-site></app-carousel-site>
      </div>
    </div>
  </div>
</div>
<div class="container"> 
  <div class="row">
    <div class="col-12">
      <h3 class="first-title">Nos espaces</h3>
      <app-list-blocks></app-list-blocks>      
    </div>
  </div>
</div>