<div *ngIf="block">
  <div>
    <label class="center-block">Libelle:{{block.libelle}}</label>
    <label class="center-block">Descriprion:{{block.description}}</label>
  </div>
  <h3><i>Choisissez pour inserer une photo</i></h3>
  <form [formGroup]="blkPhotoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="-align-center">Photo enseignant: </label>
      <input type="file" class="form-control"  #blockImage  formControlName="blkImg">
    </div>

    <button type="submit" class="btn btn-primary">Enregister</button>
    <button  class="btn btn-danger" (click)="annuler()">Annuler</button>

  </form>
</div>
