<header class="page-header" style="position: relative; background-image: url('assets/header-bg3.jpg')">
  <div class="page-title">
    <div class="container">

    </div>
  </div>
</header>
<div class="page-content">
  <div class="container" style="padding: 24px 0;">
    <div class="row">
      <div class="col-md-12 col-lg-9 col-12">
        <div>
          <div class="row">
            <div class="col-lg-12">
              <div class="text-center">
                <h2>Une offre parfaite pour votre activité</h2>
                <p>Choisissez le type compte que vous voulez</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div *ngFor="let tarif of tarifs" class="col-md-6 col-sm-6 col-lg-3 col-12" style="margin-bottom: 20px;">
              <mat-card class="pricing-box">
                <div class="pricing-intro">
                  <div class="price-title">
                    <span [ngClass]="'tarif-titre'" [innerHtml]="tarif.titre"></span>
                    &nbsp;
                    <span  class="tarif-titre">
                        <i [ngClass]="{'fa':true,
                         'fa-star':tarif.titre==='TOP',
                         'fa-gift':tarif.titre==='Gratuit',
                         'fa-smile-o':tarif.titre==='YES',
                         'fa-thumbs-up':tarif.titre==='Ok'}" style="font-size:24px;color:red"></i>                        
                    </span>
                  </div>
                </div>
                <div class="content equal-height" style="height: 18px;"></div>
                <mat-card-content>
                  <div class="price">
                    <span>{{tarif.prix}}</span> <sup>Fcfa</sup> <br>
                    <small>{{tarif.dureeTarif}}</small>
                  </div>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary" (click)="onPayer(tarif)">Payer</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          <div></div>
        </div>
      </div>
      <div class="d-none d-lg-block col-lg-3">
        <div style="height: 200px; border: 1px solid black;"></div>
      </div>
    </div>
  </div>
</div>


