<div class="details-container">
	<div class="col-md-12" style="margin-bottom: 30px; margin-left: -15px;">
      <button mat-raised-button class="btn btn-success btn-icon btn-icon-standalone pull-left" matTooltip="Ajouter une formation"
      (click)="ajouterFormation()"> 
      	<i class="fa fa-plus"></i> <span>Ajouter</span> 
      </button>
    </div>
    <br>
	<form [formGroup]="formationForm" *ngIf="formationForm" (ngSubmit)="onSubmit()">
		<div formArrayName="formations" *ngIf="formations">
			<mat-card class="details-container" *ngFor="let formation of formations.controls; let i = index;" style="margin-bottom: 15px;">
				<div class="form-header">
					<div class="row">
						<div class="col-md-12">
							<div class="title"><span>Formation</span></div>
							<div class="action pull-right">
								<button class="btn btn-icon btn-red" (click)="removeFormation(i)"><i class="fa fa-trash"></i></button>
								&nbsp;
								<button class="btn btn-icon btn-white"><i class="fa fa-bars"></i></button>
							</div>
						</div>
					</div>
				</div>
				<mat-card-content [formGroupName]="i">
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-8">
									<div class="form-group">
										<mat-form-field>
											<input matInput placeholder="Ecole" formControlName="etablissement" id="ecole">
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<mat-form-field>
											<input matInput placeholder="Année" formControlName="date" id="date" maxlength="9" mask="9999-9999">
										</mat-form-field>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<mat-form-field>
											<mat-select placeholder="Domaine" formControlName="formation">
									            <mat-option *ngFor="let domaine of domaines" [value]="domaine.name">
									                {{domaine.libelle}}
									            </mat-option>
									        </mat-select>
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<mat-form-field>
											<mat-select placeholder="Diplôme obtenu" formControlName="diplome">
									            <mat-option *ngFor="let diplome of diplomes" [value]="diplome.name">
									                {{diplome.libelle}}
									            </mat-option>
									        </mat-select>
										</mat-form-field>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field>
									<textarea matInput placeholder="Description" formControlName="description" rows="5" style="min-height: 93px;"></textarea>
								</mat-form-field>
							</div>
						</div>
					</div>
				</mat-card-content>
			</mat-card>
			<br>
		</div>
		<button mat-raised-button type="submit" class="btn pull-right"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Mettre à jour</button>
	</form>
</div>
