<div class="container">
  

 
    <div class="row">
      
      <div class="col-sm-3 nopadding">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="//www.youtube.com/embed/Nvs5pqf-DMA" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-3 nopadding">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="//www.youtube.com/embed/k3jt5ibfRzw" allowfullscreen></iframe>
        </div>
      </div>
      
      <div class="col-sm-3 nopadding">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="//www.youtube.com/embed/A8yjNbcKkNY" allowfullscreen></iframe>
        </div>
      </div>
      
      <div class="col-sm-3 nopadding">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="//www.youtube.com/embed/JvKIWjnEPNY" allowfullscreen></iframe>
        </div>
      </div>
      
    </div>
    
  </div>
