<app-top-zone [topZone]="top_zone" ></app-top-zone>
<div class="container-fluid">
  	<div class="row">
	    <div class="col-12">
	    	<app-cover-profil-admin [cover]="coverModel" ></app-cover-profil-admin>			
			<br>
			<br>
	    	<mat-tab-group>
		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-university"></i>&nbsp;&nbsp;
		      Mon ecole
		    </ng-template>
		    <div class="bien-contenir">
		    	<app-mon-ecole></app-mon-ecole>	    	
		    </div>
		  </mat-tab>

		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;
		      Entête de page
		    </ng-template>
		    <div class="bien-contenir">
		    	...
		    </div>
		  </mat-tab>

		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-info"></i>&nbsp;&nbsp;
		      Flash info
		    </ng-template>
		    <div class="bien-contenir">
				<app-flash-info-ecole></app-flash-info-ecole>
			</div>
		  </mat-tab>

		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-book"></i>&nbsp;&nbsp;
		      Mes formations
		    </ng-template>
		    <div class="bien-contenir">
				...
			</div>
		  </mat-tab>
		  
		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-folder"></i>&nbsp;&nbsp;
		      Mes documents
		    </ng-template>
		    <div class="bien-contenir">
				...
			</div>
		  </mat-tab>

		  <mat-tab>
		    <ng-template mat-tab-label>
		      <i class="fa fa-image"></i>&nbsp;&nbsp;
		      Mes photos
		    </ng-template>
		    <div class="bien-contenir">
				...
			</div>
		  </mat-tab>
		</mat-tab-group>


	    </div>
	</div>
</div>

