<div class="weget-conteneur">
  <div class="example-container">
    <div class="contenaire-toolbar">
      <mat-toolbar color="primary" class="weget-toolbar mat-elevation-z5">
       <span class="logo">
       TogetProAdmin
       </span>
        <button class="btn-toggle" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <button class="btn-toggle" mat-icon-button (click)="gotoHome()">
          <mat-icon>home</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <mat-sidenav-container class="educ-side-container" [class.side-is-mobile]="mobileQuery.matches">
      <mat-sidenav [fixedInViewport]="true" [autoFocus]="true" #sidenav class="sidenavBar mat-elevation-z5"
                   [mode]="'side'">
        <div class="menubar">
          <div class="principal">
            <br class="">
            <br class="">
            <br class="">

            <!-- accordion -->
            <mat-accordion>
              <!-- mat-expansion-panel -->
                <a mat-list-item="" [routerLinkActiveOptions]="{ exact: true }" class="nav-li" routerLinkActive="active" routerLink="/super/admin">
              <mat-expansion-panel [disabled]="true">
                  <mat-expansion-panel-header>                  
                    <mat-panel-title>                  
                      <i class="fa fa-dashboard"></i> Tableau de bord
                    </mat-panel-title>                  
                  </mat-expansion-panel-header>                  
              </mat-expansion-panel>
                </a>
              <!-- /mat-expansion-panel -->
              <!-- mat-expansion-panel -->
                <a mat-list-item="" [routerLinkActiveOptions]="{ exact: false }" class="nav-li" routerLinkActive="active" routerLink="/super/admin/membres">
              <mat-expansion-panel [disabled]="true">
                  <mat-expansion-panel-header>                  
                    <mat-panel-title>                  
                      <i class="fa fa-dashboard"></i> Membres
                    </mat-panel-title>                  
                  </mat-expansion-panel-header>                  
              </mat-expansion-panel>
                </a>
              <!-- /mat-expansion-panel -->
              <!-- mat-expansion-panel -->
                <a mat-list-item="" [routerLinkActiveOptions]="{ exact: false }" class="nav-li" routerLinkActive="active" routerLink="/super/admin/abonnes">
              <mat-expansion-panel [disabled]="true">
                  <mat-expansion-panel-header>                  
                    <mat-panel-title>                  
                      <i class="fa fa-dashboard"></i> Abonnés
                    </mat-panel-title>                  
                  </mat-expansion-panel-header>                  
              </mat-expansion-panel>
                </a>
              <!-- /mat-expansion-panel -->              
              <!-- mat-expansion-panel -->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      <i class="fa fa-globe"></i> Site
                  </mat-panel-title>                  
                </mat-expansion-panel-header>                
                <mat-list role="list">
                  <a routerLinkActive="active" routerLink="/super/admin/widgets" class="item"><mat-list-item role="listitem"><i class="fa fa-circle"></i> Widgets</mat-list-item></a>
                  <a routerLinkActive="active" routerLink="/super/admin/publicite" class="item"><mat-list-item role="listitem"><i class="fa fa-circle"></i> Publicités</mat-list-item></a>
                  <a routerLinkActive="active" routerLink="/super/admin/blocks" class="item"><mat-list-item role="listitem"><i class="fa fa-circle"></i> Blocks</mat-list-item></a>
                </mat-list>
              </mat-expansion-panel>
              <!-- /mat-expansion-panel -->
               <!-- mat-expansion-panel -->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      <i class="fa fa-wrench"></i> Paramètres
                  </mat-panel-title>                  
                </mat-expansion-panel-header>                
                <mat-list role="list">
                  <a routerLinkActive="active" routerLink="/super/admin/item" class="item"><mat-list-item role="listitem"><i class="fa fa-circle"></i> Item</mat-list-item></a>
                  <a routerLinkActive="active" routerLink="/super/admin/item" class="item"><mat-list-item role="listitem"><i class="fa fa-circle"></i> Item</mat-list-item></a>
                  <a routerLinkActive="active" routerLink="/super/admin/item" class="item"><mat-list-item role="listitem"><i class="fa fa-circle"></i> Item</mat-list-item></a>
                </mat-list>
              </mat-expansion-panel>
              <!-- /mat-expansion-panel -->
              <!-- mat-expansion-panel -->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      <i class="fa fa-shield"></i> Root
                  </mat-panel-title>                  
                </mat-expansion-panel-header>                
                <mat-list role="list">
                  <a routerLinkActive="active" routerLink="/super/admin/role" class="item"><mat-list-item role="listitem"><i class="fa fa-circle"></i> Rôles</mat-list-item></a>
                  <a routerLinkActive="active" routerLink="/super/admin/permission" class="item"><mat-list-item role="listitem"><i class="fa fa-circle"></i> Permissions</mat-list-item></a>
                </mat-list>
              </mat-expansion-panel>
              <!-- /mat-expansion-panel -->
            </mat-accordion>

            <!-- /accordion -->

          </div>

        </div>
      </mat-sidenav>

      <mat-sidenav-content class="side-content">
        <br>
        <div>
          <router-outlet></router-outlet>
        </div>

      </mat-sidenav-content>
    </mat-sidenav-container>
    <hr>
    <app-footer></app-footer>
  </div>
</div>
