<div class="abonne-mailer">
  <h4 mat-dialog-title>Contacter {{data.personne.nomComplet}}</h4>
  <mat-dialog-content>
    <form>
      <div class="row">
        <mat-form-field class="col-lg-6">
          <input matInput placeholder="Entreprise">
        </mat-form-field>
        <mat-form-field class="col-lg-6">
          <input matInput placeholder="Nom">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-lg-6">
          <input matInput placeholder="E-mail">
        </mat-form-field>
        <mat-form-field class="col-lg-6">
          <input matInput placeholder="Telephone">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-lg-12">
          <input matInput placeholder="Sujet">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-lg-12">
          <textarea matInput placeholder="Message" rows="5"></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="warn" [mat-dialog-close]="true">Fermer</button>
    <button mat-raised-button color="primary">Envoyer</button>
  </mat-dialog-actions>
</div>
