.blocks-items a{
  color: #333333;
}
.blocks-items a:hover{
  text-decoration: none;
  color: #333333;
}
mat-card{
  margin: 20px auto;
  padding:0px;
}
mat-card-content{
  padding: 0px 15px;
  margin-top: 20px;
  margin-bottom: 50px;
}
mat-card-actions{
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
}
