<div class="details-container">
	<form [formGroup]="detailsForm" (ngSubmit)="onSubmit()" novalidate *ngIf="detailsForm">
		<div class="row">
			<!-- photo -->
			<div class="col-md-4">
				<legend>Photo</legend>
				<div class="photo-cadre">
					<div #photo class="photo"></div>
				</div>
				<div class="photo-actions">
					<input type="file" autocomplete="off" class="form-control changer_photo" id="changer_photo" placeholder="changer">
					<label for="changer_photo" mat-raised-button><i class="fa fa-photo"></i>&nbsp;&nbsp;Changer photo</label>
				</div>
				<div class="form-group">
					<input type="file" style="visibility: hidden;" class="form-control" id="" placeholder="Input field">
				</div>
			</div>
			<!-- /photo -->
			<!-- informations personnelles -->
			<div class="col-md-8">
				<legend>Informations personnelles</legend>
				<div class="row">

            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Nom" formControlName="nom">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Prenom" formControlName="prenom">
                </mat-form-field>
              </td>

            </tr>


          <div formGroupName="adresse">
            <mat-expansion-panel matTooltip="les adresses" matTooltipPosition="above">
              <mat-expansion-panel-header>
                <mat-panel-title></mat-panel-title>
                <mat-panel-description>Entrer les Adresses</mat-panel-description>
              </mat-expansion-panel-header>
              <div>
                <mat-form-field>
                  <input matInput placeholder="Boite Postal" formControlName="codePostal">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Quartier" formControlName="quartier">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Ville" formControlName="ville">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Pays" formControlName="pays">
                </mat-form-field>
              </div>
            </mat-expansion-panel>
          </div>
          <hr>
          <div>
            <mat-expansion-panel matTooltip="Contacts telephoniques" matTooltipPosition="before">
              <mat-expansion-panel-header>
                <mat-panel-title>Les contacts</mat-panel-title>
                <mat-panel-description>Saisir les contacts</mat-panel-description>
              </mat-expansion-panel-header>
              <div formArrayName="telephones">
                <div *ngFor="let tel of detailsForm.get('telephones'); let i = index;">
                  <mat-panel-title>
                    <mat-action-row>
                      Telephone #{{i+1}}
                    </mat-action-row>
                    <mat-action-row>
                      <button type="button" mat-mini-fab color="warn" (click)="removeTephone(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-action-row>
                  </mat-panel-title>
                  <div [formGroupName]="i">
                    <mat-action-row>
                      <mat-form-field>
                        <mat-select placeholder="type" formControlName="type">
                          <mat-option *ngFor="let t of typeTelephones" [value]=t.name>
                            {{t.libelle}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Entrer le numero" formControlName="numero">
                      </mat-form-field>
                    </mat-action-row>
                  </div>
                </div>
                <mat-action-row>
                  <button mat-raised-button color="warn" type="button" (click)="ajouTelephone()"
                          matTooltip="ajout telephone" matTooltipPosition="above">Ajout Telephone
                  </button>
                </mat-action-row>
              </div>
            </mat-expansion-panel>
          </div>

        </div>
			</div>
			<!-- /informations personnelles -->
		</div>
		<button type="submit" class="btn btn-blue"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Mettre à jours le compte</button>
	</form>
</div>
