<div class="details-container">
	<form [formGroup]="detailsForm" (ngSubmit)="onSubmit()" novalidate *ngIf="detailsForm">
		<div class="row">
			<!-- photo -->
			<div class="col-md-4">
        <app-modif-photo-membre (imageChange)="handlImageChange($event)" ></app-modif-photo-membre>				
			</div>
			<!-- /photo -->
			<!-- informations personnelles -->
			<div class="col-md-8">
				<legend>Informations personnelles</legend>
				<div class="row">
          <!-- <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Login" formControlName="login">
            </mat-form-field>
          </div> -->
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Nom" formControlName="nom">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Prenom" formControlName="prenom">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field>
              <mat-select placeholder="Genre" formControlName="genre">
                <mat-option *ngFor="let genre of outils.genres" [value]=genre>
                  {{genre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
            
          <div class="col-md-12" formGroupName="adresse">
            <mat-expansion-panel matTooltip="les adresses" matTooltipPosition="above">
              <mat-expansion-panel-header>
                <mat-panel-title></mat-panel-title>
                <mat-panel-description>Entrer les Adresses</mat-panel-description>
              </mat-expansion-panel-header>
              <div>
                <mat-form-field>
                  <input matInput placeholder="Boite Postal" formControlName="boitePostal">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Quartier" formControlName="quartier">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Ville" formControlName="ville">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Pays" formControlName="pays">
                </mat-form-field>
              </div>
            </mat-expansion-panel>
          </div>
          <hr>
          <div class="col-md-12">
            <mat-expansion-panel matTooltip="Contacts telephoniques" matTooltipPosition="before">
              <mat-expansion-panel-header>
                <mat-panel-title>Les contacts</mat-panel-title>
                <mat-panel-description>Saisir les contacts</mat-panel-description>
              </mat-expansion-panel-header>
              <div formArrayName="telephones">
                <div *ngFor="let tel of telephones.controls; let i = index;">
                  <mat-panel-title>
                    <mat-action-row>
                      Telephone #{{i+1}}
                    </mat-action-row>
                    <mat-action-row>
                      <button type="button" mat-mini-fab color="warn" (click)="removeTephone(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-action-row>
                  </mat-panel-title>
                  <div [formGroupName]="i">
                    <mat-action-row>
                      <mat-form-field>
                        <mat-select placeholder="type" formControlName="type">
                          <mat-option *ngFor="let t of outils.typeTelephones" [value]=t.name>
                            {{t.libelle}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Entrer le numero" formControlName="numero">
                      </mat-form-field>
                    </mat-action-row>
                  </div>
                </div>
                <mat-action-row>
                  <button mat-raised-button color="warn" type="button" (click)="ajouTelephone()"
                          matTooltip="ajout telephone" matTooltipPosition="above">Ajout Telephone
                  </button>
                </mat-action-row>
              </div>
            </mat-expansion-panel>
          </div>
          <div class="col-md-12">
            <mat-expansion-panel matTooltip="Langues pratiquées" matTooltipPosition="before">
              <mat-expansion-panel-header>
                <mat-panel-title>Les langues</mat-panel-title>
                <mat-panel-description>Saisir vos langues</mat-panel-description>
              </mat-expansion-panel-header>
              <div formArrayName="langues">
                <div *ngFor="let tel of langues.controls; let i = index;">
                  <mat-panel-title>
                    <mat-action-row>
                      Langue #{{i+1}}
                    </mat-action-row>
                    <mat-action-row>
                      <button type="button" mat-mini-fab color="warn" (click)="removeLangue(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-action-row>
                  </mat-panel-title>
                  <div [formGroupName]="i">
                    <mat-action-row>
                      <mat-form-field>
                        <mat-select placeholder="Langue" formControlName="libelle">
                          <mat-option *ngFor="let t of outils.langues" [value]=t.name>
                            {{t.libelle}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Description" formControlName="description">
                      </mat-form-field>
                    </mat-action-row>
                  </div>
                </div>
                <mat-action-row>
                  <button mat-raised-button color="warn" type="button" (click)="ajoutLangue()"
                          matTooltip="ajout langue" matTooltipPosition="above">Ajout Langue
                  </button>
                </mat-action-row>
              </div>
            </mat-expansion-panel>
          </div>

        </div>
			</div>
			<!-- /informations personnelles -->
		</div>
		<button type="submit" class="btn btn-blue"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Mettre à jours le compte</button>
	</form>
</div>
