<div class="bloc-screen">
<div class="container">
	<div class="row bloc-container">
		<div class="col-sm-8">
			<mat-card>
				<mat-card-title><span i18n>Oops!</span> <br> <span i18n>Page introuvable</span></mat-card-title>
				<mat-card-content>
				<span i18n>Désolé, Une erreure est survenue. Il se trouve que la page que vous recherchez est introuvable.</span>
				<br>
				<br>
					<button (click)="gotoAccueil()" mat-raised-button color="primary"><i class="fa fa-home"></i> <span i18n>Allez à l'accueil</span></button>
					<button mat-raised-button color="basic"><i class="fa fa-envelope"></i> <span i18n>Contactez le support technique</span></button>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
</div>
