<div class="bloc-screen">
<div class="container">
	<div class="row bloc-container">
		<div class="col-sm-8">
			<mat-card>
				<mat-card-title>Oops! <br> Page introuvable</mat-card-title>
				<mat-card-content>
				Désolé, Une erreure est survenue. Il se trouve que la page que vous recherchez est introuvable.
				<br>
				<br>
					<button (click)="gotoAccueil()" mat-raised-button color="primary"><i class="fa fa-home"></i> Allez à l'accueil</button>
					<button mat-raised-button color="basic"><i class="fa fa-envelope"></i> Contactez le support technique</button>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
</div>
