<app-top-zone [topZone]="top_zone" ></app-top-zone>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<mat-tab-group>
				<mat-tab>
				    <ng-template mat-tab-label>
				      <i class="fa fa-id-card"></i>&nbsp;&nbsp;
				      Curriculum vitae
				    </ng-template>
				    <div class="bien-contenir">
				    	<app-cv-competence></app-cv-competence>
				    </div>
				</mat-tab>
				<mat-tab>
				    <ng-template mat-tab-label>
				      <i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;
				      Formations
				    </ng-template>
				    <div class="bien-contenir">
				    	<app-formation-competence></app-formation-competence>
				    </div>
				</mat-tab>
				<mat-tab>
				    <ng-template mat-tab-label>
				      <i class="fa fa-trophy"></i>&nbsp;&nbsp;
				      Expériences
				    </ng-template>
				    <div class="bien-contenir">
						<app-experience-competence></app-experience-competence>
					</div>
				</mat-tab>
				<mat-tab>
				    <ng-template mat-tab-label>
				      <i class="fa fa-folder"></i>&nbsp;&nbsp;
				      Documents
				    </ng-template>
				    <div class="bien-contenir">
						<app-documents-competence></app-documents-competence>
					</div>
				</mat-tab>
				<!-- <mat-tab>
				    <ng-template mat-tab-label>
				      <i class="fa fa-image"></i>&nbsp;&nbsp;
				      Photos
				    </ng-template>
				    <div class="bien-contenir">
						<app-photo-competence></app-photo-competence>
						<app-gallery></app-gallery>
					</div>
				</mat-tab> -->
			</mat-tab-group>
		</div>
	</div>
</div>
