
.img-showed {
	position: relative;
	max-width: 600px;
	height: 200px;
}
.image_photo_cl{
	label {
		padding: 5px 10px;
		box-shadow: 1px 1px 4px hsla(0, 0%, 10%, 0.5);
		border-radius: 3px;
		margin: 5px;
		cursor: pointer;
		text-align: center;
	}
	input{
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
}
.image_photo_cl_violet{
	label {
		color: hsla(0, 0%, 100%, 1);
		background: hsla(230, 50%, 57%, 1);		
	}
}
.image_photo_cl_vert{
	label {
		color: hsla(0, 0%, 100%, 1);
		background: hsla(140, 50%, 57%, 1);	
	}
}

.btn_vert{
	color: hsla(0, 0%, 100%, 1);
	background: hsla(140, 50%, 57%, 1);
}
.btn_violet{
	color: hsla(0, 0%, 100%, 1);
	background: hsla(230, 50%, 57%, 1);	
}

.img_cont_co{
	display: flex;
	flex-wrap: wrap;
	.img_cont{
	    display: grid;
    	position: relative;
		margin: 5px;
		.close-f{
			cursor: pointer;
			&:hover{
			color: hsla(0, 100%, 50%, 1);
			}
		}
		.img_divs{
			display: flex;
			height: 100px;
			position: relative;
			img{
				max-width: 100px;
			    max-height: 100px;
			    align-self: flex-end;
			    justify-self: center;
			}
		}
		span{
			width: 100px;		    
			height: 20px;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
	}
	.video_cont{
	    display: grid;
    	position: relative;
		margin: 5px;
		.close-f{
			cursor: pointer;
			&:hover{
			color: hsla(0, 100%, 50%, 1);
			}
		}
		.img_divs{
			display: flex;
			// height: 320px;
			position: relative;
		}
		span{
			width: 200px;		    
			height: 20px;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
	}
	.audio_cont{
	    display: grid;
    	position: relative;
		margin: 5px;
		.close-f{
			cursor: pointer;
			&:hover{
			color: hsla(0, 100%, 50%, 1);
			}
		}
		.img_divs{
			display: flex;
			// height: 200px;
			position: relative;
		}
		span{
			width: 200px;		    
			height: 20px;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
	}
}
