
.img-showed {
	position: relative;
	max-width: 600px;
	height: 200px;
}
.image_photo_cl{
	label {
		color: hsla(0, 0%, 100%, 1);
		background: hsla(140, 50%, 57%, 1);
		padding: 5px 10px;
		box-shadow: 1px 1px 4px hsla(0, 0%, 10%, 0.5);
		border-radius: 3px;
		margin: 5px;
		cursor: pointer;
		text-align: center;
	}
	input{
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
}

.img_cont_co{
	display: flex;
	flex-wrap: wrap;
	.img_cont{
		margin: 5px;
		.close-f{
			cursor: pointer;
			&:hover{
			color: hsla(0, 100%, 50%, 1);
			}
		}
		img{
			width: 100px;
			height: 100px;
		}
	}
}