
<div class="col-sm-12 container row" style="position:fixed; margin:0; background: #eee; left:0; right:0; bottom:0; top:0; ">
	<div class="col-sm-12" style="justify-content: center; flex-wrap: wrap; overflow-y:scroll; overflow-x:hidden; height:100%;">
	
		<div class="col-sm-12 row text-center" style="justify-content: center; flex-wrap: wrap; padding:15px;"> 
			<i class="fa fa-expeditedssl" style="font-size:45px; color:#ff6d05;"></i> <br/>
			<h2><strong style="color:#ffa500;">Weget</strong><span style="color:#3931af;">Pro</span> </h2>
		</div>
		
		<div class="col-sm-12 row" style="padding:15px; margin:0 auto; justify-content: center; flex-wrap: wrap;">
							<!-- <a href="#">Connexion</a> &nbsp; &nbsp;<a href="#" style="">Inscription</a> -->
							<div class="col-sm-4" style="background: #000000; color: #eee; padding:15px; ">
									<p>
										 <i class="fa fa-check  " style="color:green"></i> Nous oeuvrons 24 h / 7 pour une sécurité de qualité.<br/>
									</p>
									<p>
										 <i class="fa fa-check  " style="color:green"></i> Chiffrement de données de haut standing avec un algorythme à 256 bits.<br/>
									</p>
									<p>
										 <i class="fa fa-check " style="color:green"></i> Transaction de données chiffré de bout en bout.<br/>
									</p>
									<p>
										 <i class="fa fa-check  " style="color:green"></i> Nous somme et serons toujours disponible pour toute preocupation .<br/>
									</p>
									<p>
										 <i class="fa fa-check  " style="color:green"></i> Nous vous offrons des services de qualité inégalable .<br/>
									</p>
							
							</div> 
					 
					 <div class="col-sm-4 middle">
					 

						  
							<form method="post" action="#" role="login">
					<p>Nouveau Mot de Passe :</p>
							  <input type="password" id="pwd" name="password" placeholder="New password" required class="form-control" style="width:90% !important;" value="" /><br>
							  <span id="eye2" style="display:block" data-click-state="1" class="fa fa-eye" (click)="showpwd('pwd','eye2');" style="cursor:pointer;"></span>
					<p>Confirmez Mot de Passe :</p>          
							  <input type="password" name="repassword" class="form-control" id="repwd" placeholder="Confirm Password" required="" style="width:90% !important;" />
							  <span id="eye" style="display:block" data-click-state="1" class="fa fa-eye" (click)="showpwd('repwd','eye');" style="cursor:pointer;"></span>
							  							  
							  <br><br>
							  <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Réinitialiser</button>
							  
							 
							 
							  
							</form>
							

						  
					  </div>
					  <div class="col-sm-12 row text-center" style="justify-content:center; flex-wrap: wrap;">
					  <div class="text-center" style="width:100%; padding:25px;">
					  <p>
						Si vous n'avez éffectuer aucune demande de réinitialisation de mot de passe veuillez ignorer ce lien. Seul une personne ayant accès a votre Email peut réinitialisé le mot de passe de votre compte WegetPro. <a href="#"> Retour à la page d'accueil</a>
					  </p>
					  </div>
					  </div>
		</div>
	
	
	</div>

</div>
