.middle{
width:100% !important;
background-color: #fefefe;
padding:15px;
}
#eye{
font-size:125%;
cursor:pointer;
postion:absolute;
float:right;
margin-top:-31px;
margin-right:12px;
}
#eye2{
font-size:125%;
cursor:pointer;
postion:absolute;
float:right;
margin-top:-53px;
margin-right:12px;
}
