<mat-card>
  <mat-card-title>
    <h4 i18n>Recherchez un abonné </h4>
  </mat-card-title>
  <mat-card-content>
    <form>
      <div class="field-search">
        <mat-form-field>
          <mat-select placeholder="Recherchez par fonction !">
            <mat-option value="1" i18n>Actuaire</mat-option>
            <mat-option value="2" i18n>Informaticien</mat-option>
            <mat-option value="3" i18n>Developpeur</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Recherchez par pays !">
            <mat-option value="1" i18n>Cote d'Ivoire</mat-option>
            <mat-option value="2" i18n>France</mat-option>
            <mat-option value="3" i18n>Etats Unis d'Amérique</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Recherchez par mot clé !">
        </mat-form-field>
        <button mat-icon-button mat-raised-button color="primary" style="border-radius: 0px;" >
          <mat-icon aria-label="Rechercher" i18n>Rechercher</mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
