<mat-card>
  <mat-card-title>
    <h4 i18n>Recherchez un abonné </h4>
  </mat-card-title>
  <mat-card-content>
    <form>
      <div class="field-search">
        <mat-form-field>
          <mat-select placeholder="Recherchez par fonction !">
            <div class="input-append">
              <input type="text" class="search-query mac-style" [formControl]="compCtlr" tabindex="1">
              <span class="btn"><i class="fa fa-search"></i></span>
            </div>
            <mat-option *ngFor="let comp of filteredComp | async" [value]="comp.name" i18n>{{comp.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Recherchez par pays !">
            <div class="input-append">
              <input type="text" class="search-query mac-style" [formControl]="locaCtlr" tabindex="2">
              <span class="btn"><i class="fa fa-search"></i></span>
            </div>
            <mat-option *ngFor="let local of filteredLoca | async" [value]="local.name" i18n >{{local.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Recherchez par mot clé !" [formControl]="motCtlr" >
        </mat-form-field>
        <button mat-icon-button mat-raised-button color="primary" style="border-radius: 0px;" (click)="onRecherche()">
          <mat-icon aria-label="Rechercher" i18n>Rechercher</mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
