<div class="mail-env">	
	<table class="table mail-table">
		<thead>
			<tr>
				<th class="col-cb"><mat-checkbox>Tous</mat-checkbox></th>
				<th class="col-middle">Objet</th>
				<th class="col-middle">Expediteur</th>
				<th class="col-middle">Date</th>
			</tr>
		</thead>
		<tbody>
			<tr class="unread" [ngClass]="{'nonlu':msg.message.statut}" *ngFor="let msg of messages">
				<td class="col-cb"><mat-checkbox></mat-checkbox></td>
				<td (click)="lireMessage(msg)" class="col-subject">
					<!-- <a routerLink="/admin/messagerie/read/{{msg.message.id}}" class="star"> -->
						{{msg.message.sujet}}
					<!-- </a> -->
				</td>
				<td (click)="lireMessage(msg)" class="col-name">
					<!-- <a routerLink="/admin/messagerie/read/{{msg.message.id}}"> -->
						{{msg.expediteur.telephone}} &nbsp; {{msg.expediteur.email}}
					<!-- </a> -->
				</td>
				<td class="col-time nowrap">
					<i class="fa fa-calendar">&nbsp;{{msg.message.date | date :'dd-MM-y'}}</i> &nbsp; <i class="fa fa-clock-o">&nbsp;{{msg.message.date | date :'HH:mm:ss'}}</i>
				</td>
			</tr>
		</tbody>
	</table>
</div>

