<span>
<mat-toolbar class="toolbar mat-elevation-z3">
  <span class="toggle"><button mat-button><i class="fa fa-bars"></i></button></span>
  <span class="logo">TogetPro</span>
  <div class="nav-container"></div>
  <nav class="nav-left toggle-visibility">
    <a class="app-top-menu-item mat-button" mat-button routerLink="/"><span>Accueil</span></a>
      <a class="app-top-menu-item mat-button" mat-button routerLink="blocks"><span>Espaces</span></a>
  </nav>
  <span class="nav-space"></span>
  <nav class="nav-right toggle-visibility">
    <button appIfMediaQuery="(min-width: 768px)" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <button mat-raised-button color="warn" *ngIf="!isAuthenticated()" (click)="openModal()">Se connecter</button>
      <button mat-raised-button class="app-btn-bg-primary" *ngIf="!isAuthenticated()" (click)="inscription()" color="primary">S'inscrire</button>
      <button mat-raised-button class="app-btn-bg-primary" *ngIf="isAuthenticated()" (click)="gotoAdmin()" color="primary">Admin</button>
      <button mat-raised-button class="" *ngIf="isAuthenticated()" (click)="logout()" color="warn">Deconnexion</button>
  </nav>

	<div class="shopping-cards">
	
		<span class="badge badge_shopping" style="" >1</span> 
		 <span class="fa fa-shopping-basket " ></span>
		
		 
	</div> 
</mat-toolbar>
  </span>


<div class="modal" [m_toggle]="modal_toggle" appModalBackdrop="modal1">
  <div appModalContent>
    <div appModalClose (click)="toggleModal()">X</div>
    <app-login-content></app-login-content>
  </div>
</div>
