.breadcrumb {
  background: #eeeeee;
  position: relative;
  top: 15px;
  font-size: small;
}

.bloc-page{
  display: block;
}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 768px){
  .bloc-page{
    display: flex;
    justify-content: space-between;
  }
  .breadcrumb{
    background: #ffffff;
  }
}
