/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/froala-editor/css/froala_editor.pkgd.min.css';
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/ngx-toastr/toastr.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
