/*.carousel{
	padding: 0 30px;
}
.carousel__button--prev, .carousel__button--next{
	position: absolute;
	top: 0;
	bottom: 0;
}
.carousel__button--prev{
	left: 0;
}
.carousel__button--next{
	right: 0;
}
.carousel__button{
	top: 40%;
    bottom: 40%;
    border: #cccccc;
    color: #888888;
    border-radius: 30px;
    &:hover {
    	background: #E2E925;
    }
    &:active {
    	background: darken(#E2E925, 5);    	
    }
}
.carousel__container {
	overflow: hidden;
}
.carousel__list{
	position: relative;
	display: flex;
	flex-wrap: no-wrap;
}
.carousel__list.unwrap{
	flex-wrap: nowrap;
}
.carousel__item{
	flex: 1 0 250px;
	max-width: 300px;
	background-color: #ccc;
	text-align: center;
	border: 1px solid #fff;
}
*/
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.col-md-4, .col-sm-6, .col-lg-2, .col-12{
	display: inline-block;
	//margin-left:-10px;
  }
  img{
  background-size: cover;
  }
	
  body .carousel-control-prev-icon,
  body .carousel-indicators li,
  body .carousel-control-next-icon{
	background-color:#000;
  }
  
  span.carousel-control-prev-icon {
   //position: relative;
   /*bottom: 40px;
   right: 10px;*/
  }
  
  span.carousel-control-next-icon {
  // position: relative;
  /* bottom: 40px;
   left: 10px;*/
  }
  