<div id="demo" class="carousel slide" data-ride="carousel" *ngIf="ligneCarousel !== null && ligneCarousel !== undefined && ligneCarousel?.length > 0">
  <div class="carousel-inner no-padding my-0" style="width:100%;" style="padding:0;">
	<div class="carousel-item " [ngClass]="i==0? 'active' : 'hidden' " *ngFor="let abn of ligneCarousel; index as i">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-2" *ngFor="let abns of abn">
          <app-abonne-special [abn]="abns"></app-abonne-special>
      </div>
    </div>
	</div>
  </div>

<!--a class="carousel-control-prev" href="#" data-slide="prev">
		<span class="carousel-control-prev-icon sp"></span>
  </a>
  <a class="carousel-control-next" href="#" data-slide="next">
		<span class="carousel-control-next-icon sp"></span>
  </a-->
</div>
	
	<div class="alert alert-info" *ngIf="ligneCarousel === null || ligneCarousel === undefined || ligneCarousel?.length <= 0">
    Désolé! Nous n'avons pu trouver d'abonnés
  </div>