<style type="text/css">
  .tag{
    display: inline-block; 
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 3px;
    margin-right: 5px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-12">
      <div id="profile-abonne" style="min-height: 200px;">
        <div class="profile-cover">
          <div class="wrapper">
            <div class="cover-image">
              <div class="block-title">
                <a class="absolute" title="Revenir sur la liste des abonnés">
                  <span [innerHtml]="abonne?.block?.libelle"></span>
                </a>
                <div class="absolute at-right"><a title="afficher la liste" class="btn btn-primary" style="border-radius: 0px;"><i class="fa fa-th"></i> </a></div>
              </div>
              <a routerLink="." class="btn btn-primary">Modifier mon profile</a>
              <img src="/assets/profile-cover.jpg" alt="">
            </div>
          </div>
          <div class="profile-info">
            <div class="profile-avatar">
              <img src="{{abonne?.membre?.pathPhoto}}" alt="user-image" class="candidate_photo" />
              <div class="profile-view"><i class="fa fa-eye"></i> 5</div>
            </div>
            <ul class="profile-action">
              <li>
                <a routerLink=".">
                  <button mat-raised-button color="primary" (click)="onContactAbonne()">
                    <i class="fa fa-envelope"></i><span class="d-none d-sm-inline" style="display: none"> Contacter</span>
                  </button>
                </a>
              </li>
              <li>
                <a routerLink=".">
                  <button mat-raised-button color="warn">
                    <i class="fa fa-comments"></i><span class="d-none d-sm-inline"> Discuter</span>
                  </button>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="profile-content" style="min-height: 500px;">
          <div class="row">
            <div class="col-lg-9 col-md-6 col-12">
              <div class="abonne-info">
                <div class="abonne-meta-info">
                  <div class="abonne-name">
                    {{abonne?.membre?.nomComplet |uppercase}}
                  </div>
                  <div class="abonne-meta">
                    {{abonne?.membre?.cvPersonne?.specialite}} {{abonne?.membre?.cvPersonne?.anneExperience}} d'espériences
                  </div>
                </div>
              </div>
              <mat-tab-group class="col-md-12 col-sm-12">
                <mat-tab>
                  <span *mat-tab-label>
                    <i class="fa fa-address-card"></i>
                    <span class="d-none d-lg-inline"> Bio</span>
                  </span>
                  <div class="tab-content">
                    <h3 class="tab-content-title">Biographie</h3>
                    <div>
                      <div>
                        <h4 class="hr">A propos de vous</h4>
                        <p></p>
                      </div>
                      <div>
                        <div class="pull-right">
                          <a mat-mini-fab class="btn-social facebook" href target="_blank">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <a mat-mini-fab class="btn-social twitter" href target="_blank">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a mat-mini-fab class="btn-social gplus" href target="_blank">
                            <i class="fa fa-google-plus"></i>
                          </a>
                          <a mat-mini-fab class="btn-social linkedin" href target="_blank">
                            <i class="fa fa-linkedin"></i>
                          </a>
                        </div>
                      </div>
                      <div class="row" style="width: 100%">
                        <div class="col-lg-6">
                          <ul class="list list-unstyled tags">
                            <li class="tags-item">
                              <h4 class="hr">Spécialités</h4>
                              <span class="tag">{{abonne?.membre?.cvPersonne?.specialite}}</span>
                            </li>
                            <li class="tags-item">
                              <h4 class="hr">Dernier diplôme</h4>
                              <span class="tag">{{abonne?.membre?.cvPersonne?.diplome}}</span>
                            </li>
                            <li class="tags-item">
                              <h4 class="hr">Lieu de résidence</h4>
                              <span class="tag">
                                {{abonne?.membre?.adresse?.ville}}, {{abonne?.membre?.adresse?.pays}}
                              </span>
                            </li>
                            <li class="tags-item">
                              <h4 class="hr">Langues</h4>
                              <span class="tag" *ngFor="let langue of abonne?.membre?.langues">{{langue.libelle}}, </span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-6">
                          <ul class="list list-unstyled tags">
                            <li class="tags-item">
                              <h4 class="hr">Type de contrat souhaité</h4>
                              <span class="tag" *ngFor="let type of abonne?.membre?.cvPersonne?.periodeContrat">{{type}}&nbsp;</span>
                            </li>
                            <li class="tags-item">
                              <h4 class="hr">Période de contrat souhaité</h4>
                              <span class="tag" *ngFor="let periode of abonne?.membre?.cvPersonne?.dureeContrat">{{periode}}&nbsp;</span>
                            </li>
                            <li class="tags-item">
                              <h4 class="hr">Disponibilité</h4>
                              <span class="tag" *ngFor="let dispo of abonne?.membre?.cvPersonne?.disponibilite">{{dispo}}&nbsp;</span>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab>
                  <span *mat-tab-label>
                    <i class="fa fa-trophy"></i>
                    <span class="d-none d-lg-inline"> Expérience</span>
                  </span>
                  <div class="tab-content">
                    <h3 class="tab-content-title">expérince</h3>
                    <div></div>
                  </div>
                </mat-tab>
                <mat-tab>
                  <span *mat-tab-label>
                    <i class="fa fa-graduation-cap"></i>
                    <span class="d-none d-lg-inline"> Formation</span>
                  </span>
                  <div class="tab-content">
                    <h3 class="tab-content-title">Formations</h3>
                    <div></div>
                  </div>
                </mat-tab>
                <mat-tab>
                  <span *mat-tab-label>
                    <i class="fa fa-file"></i>
                    <span class="d-none d-lg-inline"> Documents</span>
                  </span>
                  <div class="tab-content">
                    <h3 class="tab-content-title">documents</h3>
                    <div></div>
                  </div>
                </mat-tab>
              </mat-tab-group>
              <div style="padding: 15px; margin-top:50px;">
                <h3 class="tab-content-title">Dans ce réseau</h3>
              </div>
            </div>
            <div class="d-none d-lg-block col-lg-3">
              <div style="height: 200px; border: 1px solid black;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
