<div class="container">
  <div class="row" *ngIf="isValid; else notFound">
    <div class="col-md-12 col-lg-12 col-12">
      <div id="profile-abonne" style="min-height: 200px;">
          <br>
          <app-profil-cover [titre]="titre" id="img_cover" [vues]="vues" [image]="image" (clickOcur)="handleClick($event)" >
            <app-profil-avatar  id="img_profil" [image]="abonne?.membre?.pathPhoto" (clickOcur)="handleClick($event)" ></app-profil-avatar>
            <div class="footer">
              <button mat-raised-button color="primary" (click)="onContactAbonne()"><i class="fa fa-envelope"></i><span class="d-none d-sm-inline" style="display: none" i18n> Contacter</span></button>&nbsp;&nbsp;
        			<button mat-raised-button color="warn" (click)="activatchat()">
                <i class="fa fa-comments"></i>
                <span class="d-none d-sm-inline" i18n> Discuter</span>
              </button>
            </div>
          </app-profil-cover>
          <br>
        <div class="profile-content" style="min-height: 500px;">
          <app-page-ecole *ngIf="typeblock==='ecole'" [ecole]="sousBlock"></app-page-ecole>  
          <div class="row">
            <div class="col-lg-9 col-md-6 col-12">
              <mat-card class="abonne-info" *ngIf="typeblock==='competence'">
                <div class="abonne-meta-info">
                  <div class="abonne-name">
                    {{abonne?.membre?.nomComplet |uppercase}}
                  </div>
                  <div class="abonne-meta" i18n>
                    {{abonne?.membre?.cvPersonne?.specialite}} {{abonne?.membre?.cvPersonne?.anneExperience}} d'espériences
                  </div>
                </div>
              </mat-card>
              <mat-card>
                <mat-tab-group class="col-md-12 col-sm-12" *ngIf="typeblock==='competence'">
                  <mat-tab>
                    <span *mat-tab-label>
                      <i class="fa fa-address-card"></i>
                      <span class="d-none d-lg-inline" i18n> Bio</span>
                    </span>
                    <div class="tab-content">
                      <h3 class="tab-content-title" i18n>Biographie</h3>
                      <app-bio-profil [abonne]="abonne"></app-bio-profil>
                    </div>
                  </mat-tab>
                  <mat-tab>
                    <span *mat-tab-label>
                      <i class="fa fa-trophy"></i>
                      <span class="d-none d-lg-inline" i18n> Expérience</span>
                    </span>
                    <div class="tab-content">
                      <h3 class="tab-content-title" i18n>expérince</h3>
                      <app-experience-profil [experience]="experience"></app-experience-profil>
                    </div>
                  </mat-tab>
                  <mat-tab>
                    <span *mat-tab-label>
                      <i class="fa fa-graduation-cap"></i>
                      <span class="d-none d-lg-inline" i18n> Formation</span>
                    </span>
                    <div class="tab-content">
                      <h3 class="tab-content-title" i18n>Formations</h3>
                      <ul style="margin-left: -35px;">
                        <app-formation-profil [cursus]="cursus"></app-formation-profil>
                      </ul>
                    </div>
                  </mat-tab>
                  <mat-tab>
                    <span *mat-tab-label>
                      <i class="fa fa-file"></i>
                      <span class="d-none d-lg-inline" i18n> Documents</span>
                    </span>
                    <div class="tab-content">
                      <h3 class="tab-content-title" i18n>documents</h3>
                      <app-documents-profil></app-documents-profil>
                    </div>
                  </mat-tab>
                </mat-tab-group>
                <mat-tab-group class="col-md-12 col-sm-12" *ngIf="typeblock==='ecole'">
                  <mat-tab>
                    <span *mat-tab-label>
                      <i class="fa fa-address-card"></i>
                      <span class="d-none d-lg-inline" i18n> Présentation</span>
                    </span>
                    <div class="tab-content">
                      <app-detail-ecole [detail]="sousBlock"></app-detail-ecole>
                    </div>
                  </mat-tab>
                  <mat-tab>
                    <span *mat-tab-label>
                      <i class="fa fa-graduation-cap"></i>
                      <span class="d-none d-lg-inline" i18n> Formations</span>
                    </span>
                    <div class="tab-content">
                      <app-forms-ecole [formation]="formation"></app-forms-ecole>
                    </div>
                  </mat-tab>
                  <mat-tab>
                    <span *mat-tab-label>
                      <i class="fa fa-file"></i>
                      <span class="d-none d-lg-inline" i18n> Documents</span>
                    </span>
                    <div class="tab-content">
                      <h3 class="tab-content-title" i18n>Document</h3>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </mat-card>
              <br>
              <mat-card>
                <div>
                  <h3 class="tab-content-title" i18n>Dans ce réseau</h3>0
                </div>
              </mat-card>
              <br>
            </div>
            <div class="d-none d-lg-block col-lg-3" >
              <mat-card style="padding: 5px;">
                <div style="height: 200px; border: 1px solid black;"></div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #notFound>
    <app-not-found></app-not-found>
  </ng-template>
</div>

