.hr{
  border-bottom: 1px solid #efefef;
}
h4{
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #777777;
}
.btn-social{
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  margin-left: 5px;
  background-color: transparent;
}
.btn-social.facebook{
  background-color: #3c599f;
}
.btn-social.twitter{
  background-color: #1ab2e8;
}
.btn-social.gplus{
  background-color: #dc4a38;
}
.btn-social.linkedin{
  background-color: #006699;
}
.tags{
  margin: 0;
  padding-left: 10px;
}
.tags-item{
  margin-bottom: 10px;
  margin-top: 5px;
}
.tag{
  display: inline-block; 
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 3px;
  margin-right: 5px;
}