<div class="card" style="margin-top:3px;">
  <a href="www.esma-edu.com" target="_blank">
    <img src="assets/images/h1.gif"
    style="width:253px;">
  </a>
  </div>

<div class="card" style="margin-top:3px;">
  <a href="www.prepa.pro" target="_blank">
  <img src="assets/images/h9.gif" 
  style="width: 253px;">
  </a>
</div>
<div class="card" style="margin-top:3px;">
  <a href="http://www.moncongo.com/air-cote-divoire" target="_blank">
  <img src="assets/images/h10.gif"
  style="width:253px;">
  </a>
</div>

<div class="card" style="margin-top:3px;">
<a href="https://www.jumia.ci" target="_blank">
  <img src="assets/images/h11.gif"
  style="width:253px;">
</a>
</div>

<div class="card" style="margin-top:3px;">
<a class="image" href="https://www.jumia.ci/tvs/?source=CI_W46_BF1_Black-friday-Best-deals" target="_blank">  
  <img class="lazy -loaded" src="https://static.jumia.ci/cms/BF18/live/Dekstop/day12/CI_W46_BF1-BF18_tvs.gif"
 data-src="https://static.jumia.ci/cms/BF18/live/Dekstop/day12/CI_W46_BF1-BF18_tvs.gif" alt="" style="width:253px"> 
 </a>
</div>

<!--
<div class="card" style="margin-top:3px;">
  <a href=".." target="_blank">
    <img src="assets/images/ok.gif"
    style="width:253px;">
  </a>
  </div-->
