.photo-cadre {
	display: table;
	position: relative;
	background: #ffffff;
	padding: 5px;
	border-radius: 100%;
	box-shadow: 0 0 5px rgba(0,0,0,0.8);
	.photo {
		position: relative;
		width: 150px;
		height: 150px;
		border-radius: 100%;
	}
}
.photo-actions{
	width: 100%;
	position: relative;
	margin: 20px 0;
	.btn-photo-changer{
		background: var(--green);
		color: var(--white);
	}
	.btn-photo-fermer{
		background: var(--red);
		color: var(--white);
	}
}

mat-form-field{
	width: 100%;
}

.requi-asterix {
	color: red;
}

@media screen and (min-width: 576px) {
	.photo-cadre {
		.photo {
			width: 150px;
			height: 150px;
		}
	}
}
@media screen and (min-width: 768px) {
	.photo-cadre {
		.photo {
			width: 150px;
			height: 150px;
		}
	}
	.photo-actions{
		width: 100%;
		position: relative;
		button {
			width: 100%;
			display: block;
			margin: 5px 0;
		}
	}
}
@media screen and (min-width: 992px) {
	.photo-cadre {
		.photo {
			width: 250px;
			height: 250px;
		}
	}
}
@media screen and (min-width: 1200px) {}