<div class="details-container">
	<form [formGroup]="detailsForm" (submit)="updateDetails()">
		<div class="row">
			<!-- photo -->
			<div class="col-md-4">
				<legend>Photo</legend>
				<div class="photo-cadre">
					<div #photo class="photo"></div>
				</div>
				<div class="photo-actions">
					<input type="file" autocomplete="off" class="form-control changer_photo" id="changer_photo" placeholder="changer">
					<label for="changer_photo" mat-raised-button><i class="fa fa-photo"></i>&nbsp;&nbsp;Changer photo</label>
				</div>
				<div class="form-group">
					<input type="file" style="visibility: hidden;" class="form-control" id="" placeholder="Input field">
				</div>				
			</div>
			<!-- /photo -->
			<!-- informations personnelles -->
			<div class="col-md-8">
				<legend>Informations personnelles</legend>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="">Nom</label>
							<input type="text" autocomplete="family-name" formControlName="nom" class="form-control" id="nom" placeholder="Votre nom">
						</div>
						<div class="form-group">
							<label for="">Prénom(s)</label>
							<input type="text" autocomplete="given-name" formControlName="prenom" class="form-control" id="prenoms" placeholder="Vos prénoms">
						</div>					
						<div class="form-group">
							<label for="">Date de naissance <span class="requi-asterix">(*)</span></label>
							<div class="input-group">
								<input type="date" autocomplete="off" formControlName="dateNaissance" class="form-control" id="date_naiss" required="required" placeholder="Votre date de naissance">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fa fa-calendar"></i></span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="">Genre <span class="requi-asterix">(*)</span></label>
							<ng-select class="custom" formControlName="genre" [items]="outils.genres"></ng-select>							
						</div>					
						<div class="form-group">
							<label for="">Langue(s) parlée(s) <span class="requi-asterix">(*)</span></label>
							<ng-select class="custom" [items]="['français','anglais']" [multiple]="true" [hideSelected]="true"></ng-select>							
						</div>										
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="">Pays <span class="requi-asterix">(*)</span></label>
							<ng-select class="custom" [items]="['Côte d Ivoire','Burkina Faso', 'Mali', 'Bénin']" [hideSelected]="true"></ng-select>
						</div>	
						<div class="form-group">
							<label for="">Ville</label>
							<ng-select class="custom" [items]="['Yamoussoukro','Abidjan', 'Bouaké', 'Grand-Bassam']" [hideSelected]="true"></ng-select>							
						</div>
						<div class="form-group">
							<label for="">Adresse</label>
							<input type="text" autocomplete="address-line1" class="form-control" id="adresse" placeholder="votre adresse">
						</div>	
						<div class="form-group">
							<label for="">Telephone</label>
							<input type="text" class="form-control" autocomplete="tel" id="telephone" placeholder="votre telephone">
						</div>	
					</div>
				</div>
			</div>
			<!-- /informations personnelles -->
		</div>
	
		<div class="row">
			<div class="col-md-4">
				<legend>Réseaux Sociaux</legend>
				<div class="form-group">
					<label for="">Facebook</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fa fa-facebook"></i>		
							</span>
						</div>
						<input type="text" autocomplete="off" class="form-control" id="facebook" placeholder="Facebook">
					</div>
				</div>
				<div class="form-group">
					<label for="">Twitter</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fa fa-twitter"></i>		
							</span>
						</div>
						<input type="text" autocomplete="off" class="form-control" id="twitter" placeholder="Twitter">
					</div>
				</div>
				<div class="form-group">
					<label for="">Google+</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fa fa-google-plus"></i>		
							</span>
						</div>
						<input type="text" autocomplete="off" class="form-control" id="google_plus" placeholder="Google+">
					</div>
				</div>
				<div class="form-group">
					<label for="">Linkedin</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fa fa-linkedin"></i>		
							</span>
						</div>
						<input type="text" autocomplete="off" class="form-control" id="linkedin" placeholder="Linkedin">
					</div>
				</div>
				<div class="form-group">
					<label for="">Dribbble</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fa fa-dribbble"></i>		
							</span>
						</div>
						<input type="text" autocomplete="off" class="form-control" id="dribbble" placeholder="Dribbble">
					</div>
				</div>
				<div class="form-group">
					<label for="">Skype</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fa fa-skype"></i>		
							</span>
						</div>
						<input type="text" autocomplete="off" class="form-control" id="skype" placeholder="Skype">
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<legend>Informations Professionnelles</legend>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="">Vous êtes <span class="requi-asterix">(*)</span></label>
							<ng-select class="custom" [items]="[]" [hideSelected]="true"></ng-select>
						</div>
						<div class="form-group">
							<label for="">Fonction Actuelle <span class="requi-asterix">(*)</span></label>
							<ng-select class="custom" [items]="[]" [hideSelected]="true"></ng-select>
						</div>
						<div class="form-group">
							<label for="">Année d'expérience <span class="requi-asterix">(*)</span></label>
							<input type="text" autocomplete="off" class="form-control" id="annee_exp" required="required" placeholder="Années d'expérience">
						</div>
						<div class="form-group">
							<label for="">Domaine <span class="requi-asterix">(*)</span></label>
							<ng-select class="custom" [items]="[]" [hideSelected]="true"></ng-select>
						</div>
						<div class="form-group">
							<label for="">Spécialité <span class="requi-asterix">(*)</span></label>
							<ng-select class="custom" [items]="[]" [hideSelected]="true"></ng-select>
						</div>
						<div class="form-group">
							<label for="">Autre(s) Spécialité(s)</label>
							<ng-select class="custom" [items]="[]" [hideSelected]="true" [multiple]="true"></ng-select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="">Dernier diplôme <span class="requi-asterix">(*)</span></label>
							<ng-select class="custom" [items]="[]" [hideSelected]="true" ></ng-select>
						</div>
						<div class="form-group">
							<label for="">Type de contrat <span class="requi-asterix">(*)</span></label>
							<ng-select class="custom" [items]="[]" [hideSelected]="true" [multiple]="true"></ng-select>
						</div>
						<div class="form-group">
							<label for="">Durée du contrat <span class="requi-asterix">(*)</span></label>
							<ng-select class="custom" [items]="[]" [hideSelected]="true" [multiple]="true"></ng-select>
						</div>
					</div>
				</div>
				<legend>CV</legend>	
				<div class="form-group">
					<label for="">Telecharger CV</label>
					<input type="file" autocomplete="off" class="form-control" id="cv" placeholder="Votre cv">
				</div>
				<div class="form-group">
					<label for="">Motivations</label>
					<textarea rows="8" class="form-control" name=""></textarea>
				</div>
			</div>
		</div>
		
	
		<button type="submit" class="btn btn-blue"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Mettre à jours</button>
	</form>
</div>