@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);

.gal-container{
	padding: 12px;
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
	margin:0;
	}
	
.gal-item a:focus{
	outline: none;
}
.gal-item a:after{
	content:"\e003";
	font-family: 'Glyphicons Halflings';
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: 1;
}




.button-row button,
.button-row a {
  margin-right: 8px;
  outline: none;
}

.myapp-no-padding-dialog {
     mat-dialog-container {
        padding: 0;
    }
}












img{ max-width:100%;}

.gallery_box li{ width:33.333333%; max-width: 100% ; display:inline-block; float: left; text-align: center; overflow: hidden;    position: relative;}
.gallery_box{ padding:0;display: flow-root;}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery_box li img{-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;}
.gallery_box li:nth-child(even) {
    height:auto;
}
.gallery_box li:nth-child(odd) {
    height:auto;
}


.gallery_box .box_data{
position:absolute; top: 0; left: 0; right:0; bottom:0; color:#fff; z-index:99999999999999; opacity:0;
}

.gallery_box .box_data span{

position:absolute; top: 8px; right:3px; transform: translateY(-50%); font-size:15px;

}

.gallery_box .box_data p{

position:absolute; top: 15px; left:3px; transform: translateY(-50%); font-size:24px;

}



.gallery_box .box_data:hover{
	opacity: 1;
}
.gallery_box li:hover .box_data{ 

}