@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);

.gal-container{
	padding: 12px;
	display:flex;
	flex-wrap: wrap;
	width:100%;
	margin:0;
	}
	
.gal-item{
	overflow: hidden;
	padding: 3px;
	float:left;
	flex: 0 0 content;

}
.gal-item .box{
	height: 350px;
	overflow: hidden;
	border:1px solid #eeeeee;
	background:#ddd;
	width:30%;
}
.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item a:focus{
	outline: none;
}
.gal-item a:after{
	content:"\e003";
	font-family: 'Glyphicons Halflings';
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: 1;
}



@media (min-width: 768px) {

}

@media (max-width: 768px) {
	.gal-container{
	justify-content:center;
	}

}


.button-row button,
.button-row a {
  margin-right: 8px;
  outline: none;
}

.myapp-no-padding-dialog {
     mat-dialog-container {
        padding: 0;
    }
}