<div>
  <mat-sidenav-container class="detail contsidnav">
    <mat-card class="creer-card mar-card" >
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            <mat-list-item><h4>Montant:  <strong>{{tarif?.montant }}</strong> </h4></mat-list-item>
          </mat-card-title>
          <mat-card-title>
            <mat-list-item><h4> description : <strong>{{tarif?.description}}</strong></h4> </mat-list-item>
          </mat-card-title>
          <mat-card-subtitle>
          </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions class="butonrow">
        <button mat-raised-button color="primary" (click)="Acheter()">Acheter</button>

      </mat-card-actions>
    </mat-card>
  </mat-sidenav-container>
</div>
